.block-list li.facet-active > label,
.block-list li.facet-active:hover > label {
  color: $anchor-font-color;
  font-weight: bold;
}
.block-list li.facet-more-link a,
.block-list li.facet-more-link a:hover {
  color: $anchor-font-color;
}
