<article class="grid-block document row">
  <div class="detail vertical grid-content">
    <!-- show head field linked with a title. -->
    <h3 class="head-field" ng-if="vm.doc.title">
      <a ng-href="{{vm.doc.url}}" ng-click="vm.postSignal(vm.doc.__signals_doc_id__)">
        <field value="vm.doc.title" highlight="vm.highlight" maxlength="200" hkey="title"></field>
      </a>
    </h3>
    <!-- show head field without a title. -->
    <h3 class="head-field" ng-if="!vm.doc.title">
      <field value="vm.doc.id" maxlength="200"></field>
    </h3>
    <h6 class="subheader" ng-if="vm.doc.title"><field value="vm.doc.id" maxlength="200"></field></h6>
    <h4 class="subheader" ng-if="dic.doc.keywords"><field value="vm.doc.keywords" highlight="vm.highlight" maxlength="200" hkey="keywords"></field></h4>

    <p class="large-8 xlarge-7 xx-large-6">
      <field ng-if="vm.doc.content" value="vm.doc.content" highlight="vm.highlight" maxlength="200"
             hkey="content"></field>
      <field ng-if="vm.doc.body" value="vm.doc.body" highlight="vm.highlight" maxlength="200" hkey="body"></field>
    </p>
  </div>
</article>
