// Paper 3.3.5 Extending
// 
// -----------------------------------------------------

$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" !default;
@import url($web-font-path);

// Navbar =====================================================================

  .navbar {
    border: none;
    @include box-shadow(0 1px 2px rgba(0,0,0,.3));

    &-brand {
      font-size: 24px;
    }

    &-inverse {
      .navbar-form {

        input[type=text],
        input[type=password] {
          color: #fff;
          @include box-shadow(inset 0 -1px 0 $navbar-inverse-link-color);
          @include placeholder($navbar-inverse-link-color);

          &:focus {
            @include box-shadow(inset 0 -2px 0 #fff);
          }
        }
      }
    }
  }

// Buttons ====================================================================

  @mixin btn($class,$bg){
    .btn-#{$class} {
      background-size: 200%;
      background-position: 50%;
      border-color: darken($bg, 5%);

      &:focus {
        background-color: $bg;
      }

      &:hover,
      &:active:hover {
        background-color: darken($bg, 6%);
      }

      &:active {
        background-color: darken($bg, 12%);
        @include gradient-radial(darken($bg, 12%) 10%, $bg 11%);
        background-size: 1000%;
        // @include box-shadow(2px 2px 4px rgba(0,0,0,.4)); 
      }
    }
  }

  @include btn(default,$btn-default-bg);
  @include btn(primary,$btn-primary-bg);
  @include btn(success,$btn-success-bg);
  @include btn(info,$btn-info-bg);
  @include btn(warning,$btn-warning-bg);
  @include btn(danger,$btn-danger-bg);
  @include btn(link,#fff);

  .btn {
    // text-transform: uppercase;
    border-radius: 0;
    // border: none;
    // @include box-shadow(1px 1px 4px rgba(0,0,0,.4));
    @include transition(all 0.4s);
    
    &:hover,
    &:focus,
    &:active,
    &.active {
      box-shadow: none;
      outline: 0 !important;
    }

    &.disabled,
    &[disabled] {
      cursor: default;
    }

    &-default {
      border-color: #efefef;
      color: #777;
    }

    &-uncheckable {
      @include box-shadow(none);
      color: #777; //$btn-default-color;
      border-color: transparent;

      &:focus {
        outline: none !important;
      }

      &:hover,
      &:active {
        background: transparent !important;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.65;
        filter: alpha(opacity=65);
        box-shadow: none;
      }

      &.active {
        background: #f0f0f0 !important; 
        z-index: initial !important;
      }

      input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
      }
    }

    &-link {
      // border-radius: $btn-border-radius-base;
      @include box-shadow(none);
      color: #777; //$btn-default-color;
      border-color: transparent;

      &:hover,
      &:focus {
        @include box-shadow(none);
        color: $btn-default-color;
        text-decoration: none;
      }

      // &.dropdown-toggle:focus {
      //   background: #f3f3f3;
      // }

      &.active {
        background: #f0f0f0 !important; 
        z-index: initial !important;
      }

      &.text-muted {
        color: $gray-light;

        &:hover,
        &:focus {
          color: $btn-default-color;
        }
      }
    }

    &-default {

      &.disabled {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.4);
        opacity: 1;
      }
    }

    > .fa {
      margin-right: 5px;
    }

    &.fa-right > .fa {
      margin-left: 5px;
      margin-right: 0;
    }

    > .caret {
      margin-top: -3px;
      margin-left: 5px;
      border-top-color: #bbb !important; //$gray
    }
  }

  .btn-group.open > .dropdown-toggle {
    background: #f3f3f3;
  }

  .btn-uncheckable {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
    @include user-select(none);

  }
    .btn-group > .btn-uncheckable {
      position: relative;
      float: left;
    }

    .btn-group-sm > .btn-uncheckable,
    .btn-uncheckable.btn-sm {
      @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
    }

  .btn-group.open .dropdown-toggle {
    box-shadow: none;
  }

  .btn-sm, .btn-group-sm > .btn {
    border-radius: 0;
  }


  .btn-group-lg .btn-link .caret {
    border-width: 4px 4px 0;
  }

  .btn-group {
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
      margin-left: 0;
    }

    &-vertical {
      > .btn + .btn,
      > .btn + .btn-group,
      > .btn-group + .btn,
      > .btn-group + .btn-group {
        margin-top: 0;
      }
    }
  }

// Typography =================================================================

  body {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
  }

  p {
    margin: 0 0 1em;
  }

  input,
  button {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
  }

  a {
    @include transition(all 0.2s);
  }

  // Tables =====================================================================

  .table-hover {
    > tbody > tr,
    > tbody > tr > th,
    > tbody > tr > td {
      @include transition(all 0.2s);
    }
}

// Forms ======================================================================
  .input-addon {
    box-shadow: inset 0 -1px 0 #ddd;
  }

  // complex input
    .complex-input {
      display: table;
      width: 100%;

      .input-addon {
        padding-right: 10px;
      }

      .input-addon,
      .input-addon + .form-control {
        display: table-cell;
        line-height: 1.1 !important;

        color: $headings-color;
      }

      .input-addon.text-muted {
        color: $text-muted;
      }
      
      // complex input sizing
      &.complex-input-lg {
        .input-addon,
        .form-control,
        input[type="text"] {
          font-size: 18px;
        }
      }
    }

    tr.inactive .complex-input .input-addon {
      color: lighten($text-color, 8%); 
    }

  label {
    font-weight: normal;
  }

  .form-control {
    height: 20px;
    line-height: 1.4 !important;
  }

  textarea.lead,
  textarea.lead.form-control {
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 0;
    width: 100%;
    display: block;
  }
  
  .list-group-item.collapse-by-icon + .list-group-item-content,
  tr.inactive {

    .input-addon,
    .form-control,
    textarea,
    span.readonly {
      box-shadow: none;
      border-color: transparent !important;
    }
  }

  tr.inactive .rule-desc {
    display: none;
  }

  textarea:focus {
    outline: 0 !important;
  }

  tr.inactive textarea.lead {
    height: 50px !important;
  }

  textarea,
  textarea.form-control,
  input.form-control,
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  [type=text].form-control,
  [type=password].form-control,
  [type=email].form-control,
  [type=tel].form-control,
  [contenteditable].form-control {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    @include box-shadow(inset 0 -1px 0 #ddd);
    font-size: 12px;

    &.small {
      margin-top: -6px;
      font-size: 85%;
    }

    &:focus {
      @include box-shadow(inset 0 -2px 0 $brand-primary);
    }

    &[disabled],
    &[readonly] {
      @include box-shadow(none);
      border-bottom: 1px dotted transparent; // #ddd;
      color: #cecece;
      cursor: text !important;
    }

    &.input {
      &-sm {
        font-size: $font-size-small;
      }

      &-lg {
        font-size: $font-size-large;
      }
    }
  }

  .readonly {
    line-height: 1.4;
    display: inline-block;
    min-height: 20px;
    width: 100%;
    margin-top: 2px;
  }

  .list-group-item.collapse-by-icon + .list-group-item-content,
  tr.inactive {

    textarea[disabled],
    textarea.form-control[disabled],
    input.form-control[disabled]:not([id^="rule-"]),
    input[type=text]:not([id^="rule-"]),
    [type=text][disabled].form-control:not([id^="rule-"]),
    input[type=password][disabled],
    input[type=email][disabled],
    input[type=number][disabled],
    span.readonly {
      border: none;
      color: lighten($text-color, 8%); // inherit;
      background: transparent;
      cursor: auto !important;
    }
  }

  input[type=text],
  input[type=text].form-control {
    text-overflow: ellipsis;

    &:focus {
      text-overflow: clip;
    }
  }

  textarea,
  textarea.form-control {
    padding: 2px 0; //3px 0
    resize:none;
    line-height: 1.6; //$line-height-small;
    max-height: 300px;
  }

  tr.inactive textarea {
    height: 20px !important;
    overflow: hidden !important;
  }

  select,
  select.form-control {
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: 0; //3px;
    padding-bottom: 0; //3px;
    padding-left: 0;
    padding-right: 0\9; // remove padding for < ie9 since default arrow can't be removed
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: right center;
    @include box-shadow(inset 0 -1px 0 #ddd);
    font-size: 12px;
    line-height: 1.5;

    &::-ms-expand {
      display: none;
    }

    &.input {
      &-sm {
        font-size: $font-size-small;
      }

      &-lg {
        font-size: $font-size-large;
      }
    }

    &:focus {
      @include box-shadow(inset 0 -2px 0 $brand-primary);
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    }

    &.disabled,
    &[disabled] {
      cursor: default;
      color: lighten($text-color, 8%);
    }

    &[multiple] {
      background: none;
    }
  }

  .radio,
  .radio-inline,
  .checkbox,
  .checkbox-inline {
    label {
      padding-left: 25px;
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-left: -25px;
    }
  }

  input[type="radio"],
  .radio input[type="radio"],
  .radio-inline input[type="radio"] {
    position: relative;
    margin-top: 6px;
    margin-right: 4px;
    vertical-align: top;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      @include transition(240ms);
    }

    &:before {
      position: absolute;
      left: 0;
      top: -3px;
      background-color: $brand-primary;
      @include scale(0);
    }

    &:after {
      position: relative;
      top: -3px;
      border: 2px solid $gray;
    }

    &:checked:before {
      @include scale(0.5);
    }

    &:disabled:checked:before {
      background-color: $gray-light;
    }

    &:checked:after {
      border-color: $brand-primary;
    }

    &:disabled:after,
    &:disabled:checked:after {
      border-color: $gray-light;
    }
  }

  input[type="checkbox"],
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"] {
    position: relative;
    border: none;
    margin-bottom: -4px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:focus:after {
      border-color: $brand-primary;
    }

    &:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      margin-top: -2px;
      margin-right: 0; //5px;
      border: 2px solid $gray;
      border-radius: 2px; 
      @include transition(240ms);
    }

    &:checked:before {
      content: "";
      position: absolute;
      top: 0;
      left: 6px;
      display: table;
      width: 6px;
      height: 12px;
      border: 2px solid #fff;
      border-top-width: 0;
      border-left-width: 0;
      @include rotate(45deg);
    }

    &:checked:after {
      background-color: $brand-primary;
      border-color: $brand-primary;
    }

    &:disabled:after {
      border-color: $gray-light;
    }

    &:disabled:checked:after {
      background-color: $gray-light;
      border-color: transparent;
    }
  }

  .has-warning {
    input:not([type=checkbox]),
    .form-control,
    input.form-control[readonly],
    input[type=text][readonly],
    [type=text].form-control[readonly],
    input:not([type=checkbox]):focus,
    .form-control:focus {
      border-bottom: none;
      @include box-shadow(inset 0 -2px 0 $brand-warning);
    }
  }

  .has-error {
    input:not([type=checkbox]),
    .form-control,
    input.form-control[readonly],
    input[type=text][readonly],
    [type=text].form-control[readonly],
    input:not([type=checkbox]):focus,
    .form-control:focus {
      border-bottom: none;
      @include box-shadow(inset 0 -2px 0 $brand-danger);
    }
  }

  .has-success {
    input:not([type=checkbox]),
    .form-control,
    input.form-control[readonly],
    input[type=text][readonly],
    [type=text].form-control[readonly],
    input:not([type=checkbox]):focus,
    .form-control:focus {
      border-bottom: none;
      @include box-shadow(inset 0 -2px 0 $brand-success);
    }
  }

  .text-overflow .checkbox.pull-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .checkbox.checkbox-right {
        margin: 0;
        max-height: 28px;

        label {
          padding-right: 0; //25px;
          padding-left: 0;
          width: 100%;
            
            > span {
              // display: inline-block;
              // vertical-align: middle;

              > .fa {
                margin-right: 5px;
              }
            }

            input[type="checkbox"] {
              margin-right: 0; //-25px;
              margin-left: 0;
              margin-left: 5px;
              float: right;
            }
        }
  }

  // Remove the Bootstrap feedback styles for input addons
  .input-group-addon {
    .has-warning &, .has-error &, .has-success & {
      color: $input-color;
      border-color: $input-group-addon-border-color;
      background-color: $input-group-addon-bg;
    }
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-group-lg {
    select,
    select.form-control {
      line-height: 1.5;
    }
  }

  // DATE
  .datepicker-holder {
    position: relative;
  }

  // TAGS
  .bootstrap-tagsinput {
    width: 100%;
    padding: 2px 0 4px;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 #ddd;
    
    // min-width: 100%;
    // line-height: 1.5;
    // padding: 10px 14px;

    // input[type="text"] {
    //   width: 100%;
    //   padding-left: 0;
    //   font-size: 12px;
    // }

    &.focus {
      box-shadow: inset 0 -2px 0 #2196F3;
    }

    input[type="text"] {
      width: auto; //100%; //75px; //auto;
      height: 18px;
      font-size: 12px;
      padding: 0;
      border: none;
      border-radius: 0;
      -webkit-appearance: none;
      box-shadow: none !important;

      &:focus {
        box-shadow: none !important;
      }
    }

    
    > .tag.label + input[type="text"] {
      width: 50px;

      &::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
      }

      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
      }

      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
      }
    }

    .tag {
      font-weight: normal;
      font-size: 11px;

      border-radius: 10px;
      background: #eee;
      color: #777;
      padding-top: 3px;
    }
  }

  tr.inactive .bootstrap-tagsinput {
    box-shadow: none;
    border-color: transparent !important;
    height: 23px;
    overflow: hidden;

    .tag {
      opacity: .8;
    }
  }


  // FILE UPLOAD
  .btn-file {
    margin-top: 10px;
  }


// Navs =======================================================================

  .nav-tabs {
    > li > a,
    > li > a:focus {
      margin-right: 0;
      background-color: transparent;
      border: none;
      color: $navbar-default-link-color;
      @include box-shadow(inset 0 -1px 0 #ddd);
      @include transition(all 0.2s);

      &:hover {
        background-color: transparent;
        @include box-shadow(inset 0 -2px 0 $brand-primary);
        color: $brand-primary;
      }
    }

    & > li.active > a,
    & > li.active > a:focus {
      border: none;
      @include box-shadow(inset 0 -2px 0 $brand-primary);
      color: $brand-primary;

      &:hover {
        border: none;
        color: $brand-primary;
      }
    }

    & > li.disabled > a {
      @include box-shadow(inset 0 -1px 0 #ddd);
    }

    &.nav-justified {

      & > li > a,
      & > li > a:hover,
      & > li > a:focus,
      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus {
        border: none;
      }
    }

    .dropdown-menu {
      margin-top: 0;
    }
  }

  .dropdown-menu {
    margin-top: 0;
    border: none;
    @include box-shadow(0 1px 4px rgba(0,0,0,.3));
  }

// Indicators =================================================================

  .alert {
    border: none;
    color: #fff;

    &-success {
      background-color: $brand-success;
    }

    &-info {
      background-color: $brand-info;
    }

    &-warning {
      background-color: $brand-warning;
    }

    &-danger {
      background-color: $brand-danger;
    }

    a:not(.close):not(.btn),
    .alert-link {
      color: #fff;
      font-weight: bold;
    }

    .close {
      color: #fff;
    }
  }

  .badge {
    padding: 4px 6px 4px;
  }

  .progress {
    position: relative;
    z-index: 1;
    height: 6px;
    border-radius: 0;

    @include box-shadow(none);

    &-bar {
      @include box-shadow(none);

      &:last-child {
        border-radius: 0 3px 3px 0;
      }

      &:last-child {
        &:before {
          display: block;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          right: 0;
          z-index: -1;
          background-color: lighten($progress-bar-bg, 35%);
        }
      }

      &-success:last-child.progress-bar:before {
        background-color: lighten($brand-success, 35%);
      }

      &-info:last-child.progress-bar:before {
        background-color: lighten($brand-info, 45%);
      }
      &-warning:last-child.progress-bar:before {
        background-color: lighten($brand-warning, 35%);
      }

      &-danger:last-child.progress-bar:before {
        background-color: lighten($brand-danger, 25%);
      }
    }
  }

// Progress bars ==============================================================

// Containers =================================================================

  .close {
    font-size: 34px;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.6;
    @include transition(all 0.2s);

    &:hover {
      opacity: 1;
    }
  }

  .list-group {

    &-item {
      padding: 15px;
    }

    &-item-text {
      color: $gray-light;
    }
  }

  .well {
    border-radius: 0;
    @include box-shadow(none);

    &-holder.collapsing {
      width: 100%;
    }

    &.well-sm {
      padding: 9px 8px;
    }

    &.well-transp {
      background: transparent;
    }

    &.well-outline {
      border: 1px solid $table-border-color;
    }

    .well-title {
      margin-bottom: 3px;

      .btn {
        padding: 1px 3px;
        margin-top: -4px;

        i {
          color: inherit;
        }

        .fa {
          font-size: 12px;
          width: 15px;
        }

        &:first-child {
          margin-right: -5px;
        }

        &[aria-expanded="true"] {
          color: #000;
          background-color: $well-bg;

          i {
            color: inherit;
          }
        }

        .fa {
          margin: 0;
        }
      }

      & ~ .well-holder .well {
        padding: 10px;
        margin-bottom: 0;
      }
    }
  }

  .panel {
    border: none;
    border-radius: 2px;
    @include box-shadow(0 1px 4px rgba(0,0,0,.3));

    &-heading {
      border-bottom: none;
    }

    &-footer {
      border-top: none;
    }
  }

  .popover {
    border: none;
    @include box-shadow(0 1px 4px rgba(0,0,0,.3));
  }

  .carousel {
    &-caption {
      h1, h2, h3, h4, h5, h6 {
        color: inherit;
      }
    }
  }

