$icomoon-font-path: "/styles/fonts/" !default;

$mi-3d_rotation: "\e84d";
$mi-ac_unit: "\eb3b";
$mi-alarm: "\e855";
$mi-access_alarms: "\e191";
$mi-schedule: "\e8b5";
$mi-accessibility: "\e84e";
$mi-accessible: "\e914";
$mi-account_balance: "\e84f";
$mi-account_balance_wallet: "\e850";
$mi-account_box: "\e851";
$mi-account_circle: "\e853";
$mi-adb: "\e60e";
$mi-add: "\e145";
$mi-add_a_photo: "\e439";
$mi-alarm_add: "\e856";
$mi-add_alert: "\e003";
$mi-add_box: "\e146";
$mi-add_circle: "\e147";
$mi-control_point: "\e3ba";
$mi-add_location: "\e567";
$mi-add_shopping_cart: "\e854";
$mi-queue: "\e03c";
$mi-add_to_queue: "\e05c";
$mi-adjust: "\e39e";
$mi-airline_seat_flat: "\e630";
$mi-airline_seat_flat_angled: "\e631";
$mi-airline_seat_individual_suite: "\e632";
$mi-airline_seat_legroom_extra: "\e633";
$mi-airline_seat_legroom_normal: "\e634";
$mi-airline_seat_legroom_reduced: "\e635";
$mi-airline_seat_recline_extra: "\e636";
$mi-airline_seat_recline_normal: "\e637";
$mi-flight: "\e539";
$mi-airplanemode_inactive: "\e194";
$mi-airplay: "\e055";
$mi-airport_shuttle: "\eb3c";
$mi-alarm_off: "\e857";
$mi-alarm_on: "\e858";
$mi-album: "\e019";
$mi-all_inclusive: "\eb3d";
$mi-all_out: "\e90b";
$mi-android: "\e859";
$mi-announcement: "\e85a";
$mi-apps: "\e5c3";
$mi-archive: "\e149";
$mi-arrow_back: "\e5c4";
$mi-arrow_downward: "\e5db";
$mi-arrow_drop_down: "\e5c5";
$mi-arrow_drop_down_circle: "\e5c6";
$mi-arrow_drop_up: "\e5c7";
$mi-arrow_forward: "\e5c8";
$mi-arrow_upward: "\e5d8";
$mi-art_track: "\e060";
$mi-aspect_ratio: "\e85b";
$mi-poll: "\e801";
$mi-assignment: "\e85d";
$mi-assignment_ind: "\e85e";
$mi-assignment_late: "\e85f";
$mi-assignment_return: "\e860";
$mi-assignment_returned: "\e861";
$mi-assignment_turned_in: "\e862";
$mi-assistant: "\e39f";
$mi-flag: "\e153";
$mi-attach_file: "\e226";
$mi-attach_money: "\e227";
$mi-attachment: "\e2bc";
$mi-audiotrack: "\e3a1";
$mi-autorenew: "\e863";
$mi-av_timer: "\e01b";
$mi-backspace: "\e14a";
$mi-cloud_upload: "\e2c3";
$mi-battery_alert: "\e19c";
$mi-battery_charging_full: "\e1a3";
$mi-battery_std: "\e1a5";
$mi-battery_unknown: "\e1a6";
$mi-beach_access: "\eb3e";
$mi-beenhere: "\e52d";
$mi-block: "\e14b";
$mi-bluetooth: "\e1a7";
$mi-bluetooth_searching: "\e1aa";
$mi-bluetooth_connected: "\e1a8";
$mi-bluetooth_disabled: "\e1a9";
$mi-blur_circular: "\e3a2";
$mi-blur_linear: "\e3a3";
$mi-blur_off: "\e3a4";
$mi-blur_on: "\e3a5";
$mi-class: "\e86e";
$mi-turned_in: "\e8e6";
$mi-turned_in_not: "\e8e7";
$mi-border_all: "\e228";
$mi-border_bottom: "\e229";
$mi-border_clear: "\e22a";
$mi-border_color: "\e22b";
$mi-border_horizontal: "\e22c";
$mi-border_inner: "\e22d";
$mi-border_left: "\e22e";
$mi-border_outer: "\e22f";
$mi-border_right: "\e230";
$mi-border_style: "\e231";
$mi-border_top: "\e232";
$mi-border_vertical: "\e233";
$mi-branding_watermark: "\e06b";
$mi-brightness_1: "\e3a6";
$mi-brightness_2: "\e3a7";
$mi-brightness_3: "\e3a8";
$mi-brightness_4: "\e3a9";
$mi-brightness_low: "\e1ad";
$mi-brightness_medium: "\e1ae";
$mi-brightness_high: "\e1ac";
$mi-brightness_auto: "\e1ab";
$mi-broken_image: "\e3ad";
$mi-brush: "\e3ae";
$mi-bubble_chart: "\e6dd";
$mi-bug_report: "\e868";
$mi-build: "\e869";
$mi-burst_mode: "\e43c";
$mi-domain: "\e7ee";
$mi-business_center: "\eb3f";
$mi-cached: "\e86a";
$mi-cake: "\e7e9";
$mi-phone: "\e0cd";
$mi-call_end: "\e0b1";
$mi-call_made: "\e0b2";
$mi-merge_type: "\e252";
$mi-call_missed: "\e0b4";
$mi-call_missed_outgoing: "\e0e4";
$mi-call_received: "\e0b5";
$mi-call_split: "\e0b6";
$mi-call_to_action: "\e06c";
$mi-camera: "\e3af";
$mi-photo_camera: "\e412";
$mi-camera_enhance: "\e8fc";
$mi-camera_front: "\e3b1";
$mi-camera_rear: "\e3b2";
$mi-camera_roll: "\e3b3";
$mi-cancel: "\e5c9";
$mi-redeem: "\e8b1";
$mi-card_membership: "\e8f7";
$mi-card_travel: "\e8f8";
$mi-casino: "\eb40";
$mi-cast: "\e307";
$mi-cast_connected: "\e308";
$mi-center_focus_strong: "\e3b4";
$mi-center_focus_weak: "\e3b5";
$mi-change_history: "\e86b";
$mi-chat: "\e0b7";
$mi-chat_bubble: "\e0ca";
$mi-chat_bubble_outline: "\e0cb";
$mi-check: "\e5ca";
$mi-check_box: "\e834";
$mi-check_box_outline_blank: "\e835";
$mi-check_circle: "\e86c";
$mi-navigate_before: "\e408";
$mi-navigate_next: "\e409";
$mi-child_care: "\eb41";
$mi-child_friendly: "\eb42";
$mi-chrome_reader_mode: "\e86d";
$mi-close: "\e5cd";
$mi-clear_all: "\e0b8";
$mi-closed_caption: "\e01c";
$mi-wb_cloudy: "\e42d";
$mi-cloud_circle: "\e2be";
$mi-cloud_done: "\e2bf";
$mi-cloud_download: "\e2c0";
$mi-cloud_off: "\e2c1";
$mi-cloud_queue: "\e2c2";
$mi-code: "\e86f";
$mi-photo_library: "\e413";
$mi-collections_bookmark: "\e431";
$mi-palette: "\e40a";
$mi-colorize: "\e3b8";
$mi-comment: "\e0b9";
$mi-compare: "\e3b9";
$mi-compare_arrows: "\e915";
$mi-laptop: "\e31e";
$mi-confirmation_number: "\e638";
$mi-contact_mail: "\e0d0";
$mi-contact_phone: "\e0cf";
$mi-contacts: "\e0ba";
$mi-content_copy: "\e14d";
$mi-content_cut: "\e14e";
$mi-content_paste: "\e14f";
$mi-control_point_duplicate: "\e3bb";
$mi-copyright: "\e90c";
$mi-mode_edit: "\e254";
$mi-create_new_folder: "\e2cc";
$mi-payment: "\e8a1";
$mi-crop: "\e3be";
$mi-crop_16_9: "\e3bc";
$mi-crop_3_2: "\e3bd";
$mi-crop_landscape: "\e3c3";
$mi-crop_7_5: "\e3c0";
$mi-crop_din: "\e3c1";
$mi-crop_free: "\e3c2";
$mi-crop_original: "\e3c4";
$mi-crop_portrait: "\e3c5";
$mi-crop_rotate: "\e437";
$mi-crop_square: "\e3c6";
$mi-dashboard: "\e871";
$mi-data_usage: "\e1af";
$mi-date_range: "\e916";
$mi-dehaze: "\e3c7";
$mi-delete: "\e872";
$mi-delete_forever: "\e92b";
$mi-delete_sweep: "\e16c";
$mi-description: "\e873";
$mi-desktop_mac: "\e30b";
$mi-desktop_windows: "\e30c";
$mi-details: "\e3c8";
$mi-developer_board: "\e30d";
$mi-developer_mode: "\e1b0";
$mi-device_hub: "\e335";
$mi-phonelink: "\e326";
$mi-devices_other: "\e337";
$mi-dialer_sip: "\e0bb";
$mi-dialpad: "\e0bc";
$mi-directions: "\e52e";
$mi-directions_bike: "\e52f";
$mi-directions_boat: "\e532";
$mi-directions_bus: "\e530";
$mi-directions_car: "\e531";
$mi-directions_railway: "\e534";
$mi-directions_run: "\e566";
$mi-directions_transit: "\e535";
$mi-directions_walk: "\e536";
$mi-disc_full: "\e610";
$mi-dns: "\e875";
$mi-not_interested: "\e033";
$mi-do_not_disturb_alt: "\e611";
$mi-do_not_disturb_off: "\e643";
$mi-remove_circle: "\e15c";
$mi-dock: "\e30e";
$mi-done: "\e876";
$mi-done_all: "\e877";
$mi-donut_large: "\e917";
$mi-donut_small: "\e918";
$mi-drafts: "\e151";
$mi-drag_handle: "\e25d";
$mi-time_to_leave: "\e62c";
$mi-dvr: "\e1b2";
$mi-edit_location: "\e568";
$mi-eject: "\e8fb";
$mi-markunread: "\e159";
$mi-enhanced_encryption: "\e63f";
$mi-equalizer: "\e01d";
$mi-error: "\e000";
$mi-error_outline: "\e001";
$mi-euro_symbol: "\e926";
$mi-ev_station: "\e56d";
$mi-insert_invitation: "\e24f";
$mi-event_available: "\e614";
$mi-event_busy: "\e615";
$mi-event_note: "\e616";
$mi-event_seat: "\e903";
$mi-exit_to_app: "\e879";
$mi-expand_less: "\e5ce";
$mi-expand_more: "\e5cf";
$mi-explicit: "\e01e";
$mi-explore: "\e87a";
$mi-exposure: "\e3ca";
$mi-exposure_neg_1: "\e3cb";
$mi-exposure_neg_2: "\e3cc";
$mi-exposure_plus_1: "\e3cd";
$mi-exposure_plus_2: "\e3ce";
$mi-exposure_zero: "\e3cf";
$mi-extension: "\e87b";
$mi-face: "\e87c";
$mi-fast_forward: "\e01f";
$mi-fast_rewind: "\e020";
$mi-favorite: "\e87d";
$mi-favorite_border: "\e87e";
$mi-featured_play_list: "\e06d";
$mi-featured_video: "\e06e";
$mi-sms_failed: "\e626";
$mi-fiber_dvr: "\e05d";
$mi-fiber_manual_record: "\e061";
$mi-fiber_new: "\e05e";
$mi-fiber_pin: "\e06a";
$mi-fiber_smart_record: "\e062";
$mi-get_app: "\e884";
$mi-file_upload: "\e2c6";
$mi-filter: "\e3d3";
$mi-filter_1: "\e3d0";
$mi-filter_2: "\e3d1";
$mi-filter_3: "\e3d2";
$mi-filter_4: "\e3d4";
$mi-filter_5: "\e3d5";
$mi-filter_6: "\e3d6";
$mi-filter_7: "\e3d7";
$mi-filter_8: "\e3d8";
$mi-filter_9: "\e3d9";
$mi-filter_9_plus: "\e3da";
$mi-filter_b_and_w: "\e3db";
$mi-filter_center_focus: "\e3dc";
$mi-filter_drama: "\e3dd";
$mi-filter_frames: "\e3de";
$mi-terrain: "\e564";
$mi-filter_list: "\e152";
$mi-filter_none: "\e3e0";
$mi-filter_tilt_shift: "\e3e2";
$mi-filter_vintage: "\e3e3";
$mi-find_in_page: "\e880";
$mi-find_replace: "\e881";
$mi-fingerprint: "\e90d";
$mi-first_page: "\e5dc";
$mi-fitness_center: "\eb43";
$mi-flare: "\e3e4";
$mi-flash_auto: "\e3e5";
$mi-flash_off: "\e3e6";
$mi-flash_on: "\e3e7";
$mi-flight_land: "\e904";
$mi-flight_takeoff: "\e905";
$mi-flip: "\e3e8";
$mi-flip_to_back: "\e882";
$mi-flip_to_front: "\e883";
$mi-folder: "\e2c7";
$mi-folder_open: "\e2c8";
$mi-folder_shared: "\e2c9";
$mi-folder_special: "\e617";
$mi-font_download: "\e167";
$mi-format_align_center: "\e234";
$mi-format_align_justify: "\e235";
$mi-format_align_left: "\e236";
$mi-format_align_right: "\e237";
$mi-format_bold: "\e238";
$mi-format_clear: "\e239";
$mi-format_color_fill: "\e23a";
$mi-format_color_reset: "\e23b";
$mi-format_color_text: "\e23c";
$mi-format_indent_decrease: "\e23d";
$mi-format_indent_increase: "\e23e";
$mi-format_italic: "\e23f";
$mi-format_line_spacing: "\e240";
$mi-format_list_bulleted: "\e241";
$mi-format_list_numbered: "\e242";
$mi-format_paint: "\e243";
$mi-format_quote: "\e244";
$mi-format_shapes: "\e25e";
$mi-format_size: "\e245";
$mi-format_strikethrough: "\e246";
$mi-format_textdirection_l_to_r: "\e247";
$mi-format_textdirection_r_to_l: "\e248";
$mi-format_underlined: "\e249";
$mi-question_answer: "\e8af";
$mi-forward: "\e154";
$mi-forward_10: "\e056";
$mi-forward_30: "\e057";
$mi-forward_5: "\e058";
$mi-free_breakfast: "\eb44";
$mi-fullscreen: "\e5d0";
$mi-fullscreen_exit: "\e5d1";
$mi-functions: "\e24a";
$mi-g_translate: "\e927";
$mi-games: "\e021";
$mi-gavel: "\e90e";
$mi-gesture: "\e155";
$mi-gif: "\e908";
$mi-goat: "\e900";
$mi-golf_course: "\eb45";
$mi-my_location: "\e55c";
$mi-location_searching: "\e1b7";
$mi-location_disabled: "\e1b6";
$mi-star: "\e838";
$mi-gradient: "\e3e9";
$mi-grain: "\e3ea";
$mi-graphic_eq: "\e1b8";
$mi-grid_off: "\e3eb";
$mi-grid_on: "\e3ec";
$mi-people: "\e7fb";
$mi-group_add: "\e7f0";
$mi-group_work: "\e886";
$mi-hd: "\e052";
$mi-hdr_off: "\e3ed";
$mi-hdr_on: "\e3ee";
$mi-hdr_strong: "\e3f1";
$mi-hdr_weak: "\e3f2";
$mi-headset: "\e310";
$mi-headset_mic: "\e311";
$mi-healing: "\e3f3";
$mi-hearing: "\e023";
$mi-help: "\e887";
$mi-help_outline: "\e8fd";
$mi-high_quality: "\e024";
$mi-highlight: "\e25f";
$mi-highlight_off: "\e888";
$mi-restore: "\e8b3";
$mi-home: "\e88a";
$mi-hot_tub: "\eb46";
$mi-local_hotel: "\e549";
$mi-hourglass_empty: "\e88b";
$mi-hourglass_full: "\e88c";
$mi-http: "\e902";
$mi-lock: "\e897";
$mi-photo: "\e410";
$mi-image_aspect_ratio: "\e3f5";
$mi-import_contacts: "\e0e0";
$mi-import_export: "\e0c3";
$mi-important_devices: "\e912";
$mi-inbox: "\e156";
$mi-indeterminate_check_box: "\e909";
$mi-info: "\e88e";
$mi-info_outline: "\e88f";
$mi-input: "\e890";
$mi-insert_comment: "\e24c";
$mi-insert_drive_file: "\e24d";
$mi-tag_faces: "\e420";
$mi-link: "\e157";
$mi-invert_colors: "\e891";
$mi-invert_colors_off: "\e0c4";
$mi-iso: "\e3f6";
$mi-keyboard: "\e312";
$mi-keyboard_arrow_down: "\e313";
$mi-keyboard_arrow_left: "\e314";
$mi-keyboard_arrow_right: "\e315";
$mi-keyboard_arrow_up: "\e316";
$mi-keyboard_backspace: "\e317";
$mi-keyboard_capslock: "\e318";
$mi-keyboard_hide: "\e31a";
$mi-keyboard_return: "\e31b";
$mi-keyboard_tab: "\e31c";
$mi-keyboard_voice: "\e31d";
$mi-kitchen: "\eb47";
$mi-label: "\e892";
$mi-label_outline: "\e893";
$mi-language: "\e894";
$mi-laptop_chromebook: "\e31f";
$mi-laptop_mac: "\e320";
$mi-laptop_windows: "\e321";
$mi-last_page: "\e5dd";
$mi-open_in_new: "\e89e";
$mi-layers: "\e53b";
$mi-layers_clear: "\e53c";
$mi-leak_add: "\e3f8";
$mi-leak_remove: "\e3f9";
$mi-lens: "\e3fa";
$mi-library_books: "\e02f";
$mi-library_music: "\e030";
$mi-lightbulb_outline: "\e90f";
$mi-line_style: "\e919";
$mi-line_weight: "\e91a";
$mi-linear_scale: "\e260";
$mi-linked_camera: "\e438";
$mi-list: "\e896";
$mi-live_help: "\e0c6";
$mi-live_tv: "\e639";
$mi-local_play: "\e553";
$mi-local_airport: "\e53d";
$mi-local_atm: "\e53e";
$mi-local_bar: "\e540";
$mi-local_cafe: "\e541";
$mi-local_car_wash: "\e542";
$mi-local_convenience_store: "\e543";
$mi-restaurant_menu: "\e561";
$mi-local_drink: "\e544";
$mi-local_florist: "\e545";
$mi-local_gas_station: "\e546";
$mi-shopping_cart: "\e8cc";
$mi-local_hospital: "\e548";
$mi-local_laundry_service: "\e54a";
$mi-local_library: "\e54b";
$mi-local_mall: "\e54c";
$mi-theaters: "\e8da";
$mi-local_offer: "\e54e";
$mi-local_parking: "\e54f";
$mi-local_pharmacy: "\e550";
$mi-local_pizza: "\e552";
$mi-print: "\e8ad";
$mi-local_shipping: "\e558";
$mi-local_taxi: "\e559";
$mi-location_city: "\e7f1";
$mi-location_off: "\e0c7";
$mi-room: "\e8b4";
$mi-lock_open: "\e898";
$mi-lock_outline: "\e899";
$mi-looks: "\e3fc";
$mi-looks_3: "\e3fb";
$mi-looks_4: "\e3fd";
$mi-looks_5: "\e3fe";
$mi-looks_6: "\e3ff";
$mi-looks_one: "\e400";
$mi-looks_two: "\e401";
$mi-sync: "\e627";
$mi-loupe: "\e402";
$mi-low_priority: "\e16d";
$mi-loyalty: "\e89a";
$mi-mail_outline: "\e0e1";
$mi-map: "\e55b";
$mi-markunread_mailbox: "\e89b";
$mi-memory: "\e322";
$mi-menu: "\e5d2";
$mi-message: "\e0c9";
$mi-mic: "\e029";
$mi-mic_none: "\e02a";
$mi-mic_off: "\e02b";
$mi-mms: "\e618";
$mi-mode_comment: "\e253";
$mi-monetization_on: "\e263";
$mi-money_off: "\e25c";
$mi-monochrome_photos: "\e403";
$mi-mood_bad: "\e7f3";
$mi-more: "\e619";
$mi-more_horiz: "\e5d3";
$mi-more_vert: "\e5d4";
$mi-motorcycle: "\e91b";
$mi-mouse: "\e323";
$mi-move_to_inbox: "\e168";
$mi-movie_creation: "\e404";
$mi-movie_filter: "\e43a";
$mi-multiline_chart: "\e6df";
$mi-music_note: "\e405";
$mi-music_video: "\e063";
$mi-nature: "\e406";
$mi-nature_people: "\e407";
$mi-navigation: "\e55d";
$mi-near_me: "\e569";
$mi-network_cell: "\e1b9";
$mi-network_check: "\e640";
$mi-network_locked: "\e61a";
$mi-network_wifi: "\e1ba";
$mi-new_releases: "\e031";
$mi-next_week: "\e16a";
$mi-nfc: "\e1bb";
$mi-no_encryption: "\e641";
$mi-signal_cellular_no_sim: "\e1ce";
$mi-note: "\e06f";
$mi-note_add: "\e89c";
$mi-notifications: "\e7f4";
$mi-notifications_active: "\e7f7";
$mi-notifications_none: "\e7f5";
$mi-notifications_off: "\e7f6";
$mi-notifications_paused: "\e7f8";
$mi-offline_pin: "\e90a";
$mi-ondemand_video: "\e63a";
$mi-opacity: "\e91c";
$mi-open_in_browser: "\e89d";
$mi-open_with: "\e89f";
$mi-pages: "\e7f9";
$mi-pageview: "\e8a0";
$mi-pan_tool: "\e925";
$mi-panorama: "\e40b";
$mi-radio_button_unchecked: "\e836";
$mi-panorama_horizontal: "\e40d";
$mi-panorama_vertical: "\e40e";
$mi-panorama_wide_angle: "\e40f";
$mi-party_mode: "\e7fa";
$mi-pause: "\e034";
$mi-pause_circle_filled: "\e035";
$mi-pause_circle_outline: "\e036";
$mi-people_outline: "\e7fc";
$mi-perm_camera_mic: "\e8a2";
$mi-perm_contact_calendar: "\e8a3";
$mi-perm_data_setting: "\e8a4";
$mi-perm_device_information: "\e8a5";
$mi-person_outline: "\e7ff";
$mi-perm_media: "\e8a7";
$mi-perm_phone_msg: "\e8a8";
$mi-perm_scan_wifi: "\e8a9";
$mi-person: "\e7fd";
$mi-person_add: "\e7fe";
$mi-person_pin: "\e55a";
$mi-person_pin_circle: "\e56a";
$mi-personal_video: "\e63b";
$mi-pets: "\e91d";
$mi-phone_android: "\e324";
$mi-phone_bluetooth_speaker: "\e61b";
$mi-phone_forwarded: "\e61c";
$mi-phone_in_talk: "\e61d";
$mi-phone_iphone: "\e325";
$mi-phone_locked: "\e61e";
$mi-phone_missed: "\e61f";
$mi-phone_paused: "\e620";
$mi-phonelink_erase: "\e0db";
$mi-phonelink_lock: "\e0dc";
$mi-phonelink_off: "\e327";
$mi-phonelink_ring: "\e0dd";
$mi-phonelink_setup: "\e0de";
$mi-photo_album: "\e411";
$mi-photo_filter: "\e43b";
$mi-photo_size_select_actual: "\e432";
$mi-photo_size_select_large: "\e433";
$mi-photo_size_select_small: "\e434";
$mi-picture_as_pdf: "\e415";
$mi-picture_in_picture: "\e8aa";
$mi-picture_in_picture_alt: "\e911";
$mi-pie_chart: "\e6c4";
$mi-pie_chart_outlined: "\e6c5";
$mi-pin_drop: "\e55e";
$mi-play_arrow: "\e037";
$mi-play_circle_filled: "\e038";
$mi-play_circle_outline: "\e039";
$mi-play_for_work: "\e906";
$mi-playlist_add: "\e03b";
$mi-playlist_add_check: "\e065";
$mi-playlist_play: "\e05f";
$mi-plus_one: "\e800";
$mi-polymer: "\e8ab";
$mi-pool: "\eb48";
$mi-portable_wifi_off: "\e0ce";
$mi-portrait: "\e416";
$mi-power: "\e63c";
$mi-power_input: "\e336";
$mi-power_settings_new: "\e8ac";
$mi-pregnant_woman: "\e91e";
$mi-present_to_all: "\e0df";
$mi-priority_high: "\e645";
$mi-public: "\e80b";
$mi-publish: "\e255";
$mi-queue_music: "\e03d";
$mi-queue_play_next: "\e066";
$mi-radio: "\e03e";
$mi-radio_button_checked: "\e837";
$mi-rate_review: "\e560";
$mi-receipt: "\e8b0";
$mi-recent_actors: "\e03f";
$mi-record_voice_over: "\e91f";
$mi-redo: "\e15a";
$mi-refresh: "\e5d5";
$mi-remove: "\e15b";
$mi-remove_circle_outline: "\e15d";
$mi-remove_from_queue: "\e067";
$mi-visibility: "\e8f4";
$mi-remove_shopping_cart: "\e928";
$mi-reorder: "\e8fe";
$mi-repeat: "\e040";
$mi-repeat_one: "\e041";
$mi-replay: "\e042";
$mi-replay_10: "\e059";
$mi-replay_30: "\e05a";
$mi-replay_5: "\e05b";
$mi-reply: "\e15e";
$mi-reply_all: "\e15f";
$mi-report: "\e160";
$mi-warning: "\e002";
$mi-restaurant: "\e56c";
$mi-restore_page: "\e929";
$mi-ring_volume: "\e0d1";
$mi-room_service: "\eb49";
$mi-rotate_90_degrees_ccw: "\e418";
$mi-rotate_left: "\e419";
$mi-rotate_right: "\e41a";
$mi-rounded_corner: "\e920";
$mi-router: "\e328";
$mi-rowing: "\e921";
$mi-rss_feed: "\e0e5";
$mi-rv_hookup: "\e642";
$mi-satellite: "\e562";
$mi-save: "\e161";
$mi-scanner: "\e329";
$mi-school: "\e80c";
$mi-screen_lock_landscape: "\e1be";
$mi-screen_lock_portrait: "\e1bf";
$mi-screen_lock_rotation: "\e1c0";
$mi-screen_rotation: "\e1c1";
$mi-screen_share: "\e0e2";
$mi-sd_storage: "\e1c2";
$mi-search: "\e8b6";
$mi-security: "\e32a";
$mi-select_all: "\e162";
$mi-send: "\e163";
$mi-sentiment_dissatisfied: "\e811";
$mi-sentiment_neutral: "\e812";
$mi-sentiment_satisfied: "\e813";
$mi-sentiment_very_dissatisfied: "\e814";
$mi-sentiment_very_satisfied: "\e815";
$mi-settings: "\e8b8";
$mi-settings_applications: "\e8b9";
$mi-settings_backup_restore: "\e8ba";
$mi-settings_bluetooth: "\e8bb";
$mi-settings_brightness: "\e8bd";
$mi-settings_cell: "\e8bc";
$mi-settings_ethernet: "\e8be";
$mi-settings_input_antenna: "\e8bf";
$mi-settings_input_composite: "\e8c1";
$mi-settings_input_hdmi: "\e8c2";
$mi-settings_input_svideo: "\e8c3";
$mi-settings_overscan: "\e8c4";
$mi-settings_phone: "\e8c5";
$mi-settings_power: "\e8c6";
$mi-settings_remote: "\e8c7";
$mi-settings_system_daydream: "\e1c3";
$mi-settings_voice: "\e8c8";
$mi-share: "\e80d";
$mi-shop: "\e8c9";
$mi-shop_two: "\e8ca";
$mi-shopping_basket: "\e8cb";
$mi-short_text: "\e261";
$mi-show_chart: "\e6e1";
$mi-shuffle: "\e043";
$mi-signal_cellular_4_bar: "\e1c8";
$mi-signal_cellular_connected_no_internet_4_bar: "\e1cd";
$mi-signal_cellular_null: "\e1cf";
$mi-signal_cellular_off: "\e1d0";
$mi-signal_wifi_4_bar: "\e1d8";
$mi-signal_wifi_4_bar_lock: "\e1d9";
$mi-signal_wifi_off: "\e1da";
$mi-sim_card: "\e32b";
$mi-sim_card_alert: "\e624";
$mi-skip_next: "\e044";
$mi-skip_previous: "\e045";
$mi-slideshow: "\e41b";
$mi-slow_motion_video: "\e068";
$mi-stay_primary_portrait: "\e0d6";
$mi-smoke_free: "\eb4a";
$mi-smoking_rooms: "\eb4b";
$mi-textsms: "\e0d8";
$mi-snooze: "\e046";
$mi-sort: "\e164";
$mi-sort_by_alpha: "\e053";
$mi-spa: "\eb4c";
$mi-space_bar: "\e256";
$mi-speaker: "\e32d";
$mi-speaker_group: "\e32e";
$mi-speaker_notes: "\e8cd";
$mi-speaker_notes_off: "\e92a";
$mi-speaker_phone: "\e0d2";
$mi-spellcheck: "\e8ce";
$mi-star_border: "\e83a";
$mi-star_half: "\e839";
$mi-stars: "\e8d0";
$mi-stay_primary_landscape: "\e0d5";
$mi-stop: "\e047";
$mi-stop_screen_share: "\e0e3";
$mi-storage: "\e1db";
$mi-store_mall_directory: "\e563";
$mi-straighten: "\e41c";
$mi-streetview: "\e56e";
$mi-strikethrough_s: "\e257";
$mi-style: "\e41d";
$mi-subdirectory_arrow_left: "\e5d9";
$mi-subdirectory_arrow_right: "\e5da";
$mi-subject: "\e8d2";
$mi-subscriptions: "\e064";
$mi-subtitles: "\e048";
$mi-subway: "\e56f";
$mi-supervisor_account: "\e8d3";
$mi-surround_sound: "\e049";
$mi-swap_calls: "\e0d7";
$mi-swap_horiz: "\e8d4";
$mi-swap_vert: "\e8d5";
$mi-swap_vertical_circle: "\e8d6";
$mi-switch_camera: "\e41e";
$mi-switch_video: "\e41f";
$mi-sync_disabled: "\e628";
$mi-sync_problem: "\e629";
$mi-system_update: "\e62a";
$mi-system_update_alt: "\e8d7";
$mi-tab: "\e8d8";
$mi-tab_unselected: "\e8d9";
$mi-tablet: "\e32f";
$mi-tablet_android: "\e330";
$mi-tablet_mac: "\e331";
$mi-tap_and_play: "\e62b";
$mi-text_fields: "\e262";
$mi-text_format: "\e165";
$mi-texture: "\e421";
$mi-thumb_down: "\e8db";
$mi-thumb_up: "\e8dc";
$mi-thumbs_up_down: "\e8dd";
$mi-timelapse: "\e422";
$mi-timeline: "\e922";
$mi-timer: "\e425";
$mi-timer_10: "\e423";
$mi-timer_3: "\e424";
$mi-timer_off: "\e426";
$mi-title: "\e264";
$mi-toc: "\e8de";
$mi-today: "\e8df";
$mi-toll: "\e8e0";
$mi-tonality: "\e427";
$mi-touch_app: "\e913";
$mi-toys: "\e332";
$mi-track_changes: "\e8e1";
$mi-traffic: "\e565";
$mi-train: "\e570";
$mi-tram: "\e571";
$mi-transfer_within_a_station: "\e572";
$mi-transform: "\e428";
$mi-translate: "\e8e2";
$mi-trending_down: "\e8e3";
$mi-trending_flat: "\e8e4";
$mi-trending_up: "\e8e5";
$mi-tune: "\e429";
$mi-tv: "\e333";
$mi-unarchive: "\e169";
$mi-undo: "\e166";
$mi-unfold_less: "\e5d6";
$mi-unfold_more: "\e5d7";
$mi-update: "\e923";
$mi-usb: "\e1e0";
$mi-verified_user: "\e8e8";
$mi-vertical_align_bottom: "\e258";
$mi-vertical_align_center: "\e259";
$mi-vertical_align_top: "\e25a";
$mi-vibration: "\e62d";
$mi-video_call: "\e070";
$mi-video_label: "\e071";
$mi-video_library: "\e04a";
$mi-videocam: "\e04b";
$mi-videocam_off: "\e04c";
$mi-videogame_asset: "\e338";
$mi-view_agenda: "\e8e9";
$mi-view_array: "\e8ea";
$mi-view_carousel: "\e8eb";
$mi-view_column: "\e8ec";
$mi-view_comfy: "\e42a";
$mi-view_compact: "\e42b";
$mi-view_day: "\e8ed";
$mi-view_headline: "\e8ee";
$mi-view_list: "\e8ef";
$mi-view_module: "\e8f0";
$mi-view_quilt: "\e8f1";
$mi-view_stream: "\e8f2";
$mi-view_week: "\e8f3";
$mi-vignette: "\e435";
$mi-visibility_off: "\e8f5";
$mi-voice_chat: "\e62e";
$mi-voicemail: "\e0d9";
$mi-volume_down: "\e04d";
$mi-volume_mute: "\e04e";
$mi-volume_off: "\e04f";
$mi-volume_up: "\e050";
$mi-vpn_key: "\e0da";
$mi-vpn_lock: "\e62f";
$mi-wallpaper: "\e1bc";
$mi-watch: "\e334";
$mi-watch_later: "\e924";
$mi-wb_auto: "\e42c";
$mi-wb_incandescent: "\e42e";
$mi-wb_iridescent: "\e436";
$mi-wb_sunny: "\e430";
$mi-wc: "\e63d";
$mi-web: "\e051";
$mi-web_asset: "\e069";
$mi-weekend: "\e16b";
$mi-whatshot: "\e80e";
$mi-widgets: "\e1bd";
$mi-wifi: "\e63e";
$mi-wifi_lock: "\e1e1";
$mi-wifi_tethering: "\e1e2";
$mi-work: "\e8f9";
$mi-wrap_text: "\e25b";
$mi-youtube_searched_for: "\e8fa";
$mi-zoom_in: "\e8ff";
$mi-zoom_out: "\e901";
$mi-zoom_out_map: "\e56b";

