@import "fonts";
@import "settings";
@import "foundation";
@import "../components/components";

#sidebar {
  //padding: 0 !important;
  //background: #f9f9f9 !important;
  background: #f9f9f9;
  border-right: 1px solid #e7e7e7;
  // transition-timing-function: cubic-bezier(.76, -.245, .24, 1.245);
}

.search-box-outer{
  flex: 1;
}

.search-label{
  margin-bottom: 0;
}

.card-result-comment {
  margin-top: .75rem;
  .card-get-started,
  .card-no-results {
    text-align: center;
  }
}

.label.secondary{
  @extend %label;
  @include label-style($secondary-color, isitlight($secondary-color));
}

.sort-button svg.iconic-sm {
  height: 16px;
  width: 16px;
}

.simulation {
  .panel {
    position: static;
    display: block;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: inherit;
    height: inherit;
  }

  .form-control-feedback {
    right: 6px;
    top: -5px;
  }

  ul, ol, dl {
   font-size: inherit;
  },

  input:focus,
  input:hover {
    border: 0 none;
  }
}

#addRule {
  input:focus,
  input:hover {
    border: 0 none;
  }

}

html[ng-app="lucidworksView"] {
  input[type="checkbox"],
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"] {
     border: inherit;
     margin-bottom: 0;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  textarea {
    height: inherit;
  }

  .bootstrap-tagsinput {
    border: none;
    box-shadow: none;

    .tag {
      color: inherit;
    }
  }

  .table.rules-list {
    margin-top: 10px;
  }

  textarea.disabledControl {
    height: auto;
    min-height: inherit;
  }
}


@media (min-width: 1140px) {
  html[ng-app="lucidworksView"] .container {
    width: 90%;
  }
}

#searchBoxEl {
  font-size: 3rem;
  height: 4rem;
  padding-left: 15px;
}

#searchBoxEl:focus,
#searchBoxEl:hover {
  border: 0 none;
}

div.searchUI_color {
  padding-left: 30px;
}

.rules-list .row.set-params .col-xs-4,
.rules-list .row.set-params .col-xs-3,
.rules-list .row.set-params .col-xs-2,
.rules-list .row.set-params .col-xs-1 {
  padding-left: 5px;
  padding-right: 0;
}

.rules-list .row.set-params {
   margin-left: 0;
   margin-right: 0;
}
