@import "fonts";
@import "settings";
@import "foundation";
@import "../components/components";

#sidebar {
  //padding: 0 !important;
  //background: #f9f9f9 !important;
  background: #f9f9f9;
  border-right: 1px solid #e7e7e7;
  // transition-timing-function: cubic-bezier(.76, -.245, .24, 1.245);
}

.search-box-outer{
  flex: 1;
}

.search-label{
  margin-bottom: 0;
}

.card-result-comment {
  margin-top: .75rem;
  .card-get-started,
  .card-no-results {
    text-align: center;
  }
}

.label.secondary{
  @extend %label;
  @include label-style($secondary-color, isitlight($secondary-color));
}

.sort-button svg.iconic-sm {
  height: 16px;
  width: 16px;
}

@include breakpoint(medium) {
  .title-bar .right .action-sheet {
    width:250px;
    left:auto;
    right:0;
    top:100%;
    bottom:auto;
    transform:translateX(0) translateY(0);
    -webkit-transform:translateX(0) translateY(0);
    transition:none;
    &:before, &:after {left:auto;right:25px;}
  }
}
