<div id="documentList">
  <div ng-repeat="doc in vm.docs" ng-switch="::vm.getDocType(doc)">
    <document-default ng-switch-default doc="doc" position="vm.getDocPosition(doc,vm.docs)" highlight="vm.highlighting"></document-default>
  </div>

  <div ng-if="vm.groupedResults" ng-repeat="(key, val) in vm.groupedResults">
    <div ng-repeat="group in val.groups">
      <div class="small-11 column" ng-switch="::vm.getDocType(group.doclist.docs[0])">
        <document-default  ng-switch-default doc="group.doclist.docs[0]" position="vm.getDocPosition(group,val.groups)" highlight="vm.highlighting" ></document-default>
      </div>
    </div>
  </div>
</div>
