<div id="documentList">
  <div ng-repeat="doc in vm.docs" ng-switch="vm.getDocType(doc)">
    <document-file ng-switch-when="lucid.anda/file" doc="vm.decorateDocument(doc)" ></document-file>
    <document-twitter ng-switch-when="lucid.twitter.search/twitter_search" doc="vm.decorateDocument(doc)" ></document-twitter>
    <document-web ng-switch-when="lucid.anda/web" doc="vm.decorateDocument(doc)" ></document>
    <document ng-switch-default doc="vm.decorateDocument(doc)" ></document>
  </div>
</div>
