<div><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><field value="dc.doc.tweet_t" highlight="dc.highlight" maxlength="200" hkey="tweet_t"></field></p>&mdash;
  <field value="dc.doc.userScreenName_s" highlight="dc.highlight" maxlength="200" hkey="userScreenName_s"></field> (@<field value="dc.doc.userScreenName_s" highlight="dc.highlight" maxlength="200" hkey="userScreenName_s"></field>) <a
    href="https://twitter.com/{{dc.doc.userScreenName}}/status/{{dc.doc.id}}"><field value="dc.doc.dateCreated_dt" ></field></a>
</blockquote>

</div>
