ul.dropdown-menu>li input{
  float: right;
}
ul.dropdown-menu>li input.addNewTag{
  float:none;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.rule-name{
  font-size: 18px!important;
}
table .col-xs-5, table .col-xs-6{
  float: none;
  width: 100%;
}
.actionTextArea{
  resize: vertical!important;
}
.addTriggerCategory, .triggerCategory{
  display: inline-block;
  width: 45%;
}
input.addTriggerCategory{
  margin-left: 2px;
}
.triggerFieldValue label,
.triggerTags label,
.triggerKeywords label {
  display: inline-block;
  width: 91.5%;
}

.triggerKeywords select {
  width: 98%;
}

.addRuleForm .bootstrap-tagsinput,
table .bootstrap-tagsinput{
  display: inline-block;
  width: 92%;
}
.datepicker-inline{
  width: 45%;
  display: inline-block;
}

#addRule input.form-control.set-params {
  height: 20px;
  margin-bottom: 0;
}

#addRule .addRuleForm .row {
  margin: 0;
}

.addRuleForm .row .col-xs-4,
.addRuleForm .row .col-xs-3,
.addRuleForm .row .col-xs-2,
.addRuleForm .row .col-xs-1 {
  margin: 2px;
  padding: 0;
}

.table.rules-list .inactive .btn-default.disabledControl { display: none; }
.table.rules-list .active .btn-default.disabledControl { display: block; }

.table>tbody>tr.inactive>td.inline-icons .btn-cancel{
  display: none;
}
.edit-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.edit-buttons > a{
  margin-bottom: 5px;
}
#applyFilters{
  display: flex;
  justify-content: space-between;
}

.fa-close:before, .fa-remove:before, .fa-times:before {
  content: "ï€";
  color: #bbb;
}
.table .inactive > td.btn-bottom-holder .fa-times,
.table .inactive > td.btn-bottom-holder .tag span  {
  display: none;
}

div.table-footer .btn.btn-sm.btn-link.text-muted{
  background: none;
  color:#bbb;
}

.has-error::-webkit-input-placeholder {color:#e51c23!important;}
.has-error::-moz-placeholder          {color:#e51c23!important;}
.has-error:-moz-placeholder           {color:#e51c23!important;}
.has-error:-ms-input-placeholder      {color:#e51c23!important;}

#addRule .alert-warning {
  margin: 10px 50px 0 50px;
}

.modal.add-rule {
  max-width: 100%;
}

tags-input .tags {
  border: none;
  box-shadow: none;
}

tags-input .tags.focused {
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  /*border-bottom: 1px solid blue;*/
}

tags-input .tags .tag-item {
  font-weight: 400;
  font-size: 11px;
  border-radius: 10px;
  background: #eee;
  color: #777;
  display: inline;
  padding: .2em .6em .3em;
  vertical-align: baseline;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  margin: 2px;
  font: inherit;
  border: none;
  height: inherit;
  line-height: inherit;
}

.inactive tags-input .tags .tag-item .remove-button {
  display: none;
}

tags-input .tags .tag-item .remove-button {
  color: #bbb;
  font: inherit;
  font-size: 11px;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

tags-input .host {
  margin-top: 0;
}

.rules-list.table td label {
  display: inline-block;

  line-height: 1;
  margin-bottom: -2px;
}

.inactive .tags .input {
  display: none;
}


.datepicker, datepicker, [datepicker] {
  float: none;
}
._720kb-datepicker-calendar-header:nth-child(odd),
._720kb-datepicker-calendar-days-header {
  background: #fff;
}
._720kb-datepicker-calendar-month,
._720kb-datepicker-calendar-month span {
  color: #666;
  font-weight: bold;
  font-size: 13px;
}
._720kb-datepicker-calendar._720kb-datepicker-open {
  top: 26px;
}
