/*
  SEARCH BOX
  ----------

  The search box lets you search content, and see typeahead results.
 */

/// @Lucidworks-view.settings
// Search-box
$search-box-typeahead-border:              1px solid #ddd;
$search-box-typeahead-background:          $body-background;
$search-box-typeahead-text-color:          grayscale($primary-color);
$search-box-typeahead-selected-background: $gray-light;
$search-box-typeahead-highlight-color:     $success-color;
$search-box-empty-content:                 '';

@include exports(search-box) {
  
  .search-box {
    > span {position:relative;display: block;} 
    .query-input {
      margin-bottom: 0px;
      color: $search-box-typeahead-text-color;
    }
    .ac-container {z-index: 1000;backface-visibility: hidden;transform: translate3d(0, 0, 0);}

    .ac-menu,.no-results-message {
      background: $search-box-typeahead-background;
      border: $search-box-typeahead-border;
      color: $search-box-typeahead-text-color;
      list-style-type: none;
      margin: 0;
      padding: 4px;
      text-align:left;
    }
    .no-results-message {
      font-size:0.9rem;
      position:absolute;
      top:100%;
      width: 100%;
      padding: 8px;
      font-style: italic;
    }

    .ac-menu-item.ac-state-focus a {background: $search-box-typeahead-selected-background;}
    .ac-menu-item a {
      padding: .5rem 0 .5rem .5rem;
      color:inherit;
      display: block;
      position:relative;
      //extra element for title tag
      .title-wrapper {
        padding-right:1.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover {color: $search-box-typeahead-highlight-color;background: $search-box-typeahead-selected-background;}
      &:active {background: $search-box-typeahead-selected-background;}
      &:after {
        content:$search-box-empty-content;
        position:absolute;
        right:0;
        top:8px;
        background-image: url('../img/iconic/expand.svg');
        transform: scaleX(-1);
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.3rem;
      }
      .highlight {
        color: $search-box-typeahead-highlight-color;
      }
    }
  }
}
