/*
  SEARCH BOX
  ----------

  The search box lets you search content, and see typeahead results.
 */

/// @Fusion-seed-app.settings
// Search-box
$search-box-typeahead-border:              1px solid #ddd;
$search-box-typeahead-background:          $body-background;
$search-box-typeahead-text-color:          grayscale($primary-color);
$search-box-typeahead-selected-background: $gray-light;
$search-box-typeahead-highlight-color:     $success-color;


@include exports(search-box) {
  .search-box {
    #searchInput_value {
      margin-bottom: 0px;
    }

    .angucomplete-holder {
      position: relative;
    }

    .angucomplete-dropdown {
      position: absolute;
      left: 0px;
      background: $search-box-typeahead-background;
      color: $search-box-typeahead-text-color;
      border: $search-box-typeahead-border;
      z-index: 1000;
      text-align: left;

      .angucomplete-selected-row {
        background: $search-box-typeahead-selected-background;
      }

      .highlight {
        color: $search-box-typeahead-highlight-color;
      }
    }
  }

}
