<div>
  <ul class="menu-bar" ng-show="vm.page === 0 && vm.totalPages > 1">
    <li>
      <a ng-click="vm.gotoNextPage()">
        Next &gt;
      </a>
    </li>
  </ul>
  <ul class="menu-bar" ng-show="vm.page === vm.getlastPage() && vm.page > 0">
    <li>
      <a ng-click="vm.gotoPreviousPage()">
        &lt; Previous
      </a>
    </li>
  </ul>
  <ul  class="menu-bar" ng-show="vm.page !== (vm.getlastPage() || 0)">
    <li>
      <a ng-click="vm.gotoPreviousPage()">&lt;</a>
    </li>
    <li class="center">
      <span>Page {{vm.getNormalizedPage()}}<span class="show-for-medium"> of {{vm.totalPages}}</span></span>
    </li>
    <li>
        <a ng-click="vm.gotoNextPage()">&gt;</a>
    </li>
  </ul>
</div>
