<div ng-switch="vm.showState">
  <ul class="menu-bar" ng-switch-when="next">
    <li>
      <a ng-click="vm.gotoNextPage()">
        Next &gt;
      </a>
    </li>
  </ul>
  <ul class="menu-bar" ng-switch-when="previous">
    <li>
      <a ng-click="vm.gotoPreviousPage()">
        &lt; Previous
      </a>
    </li>
  </ul>
  <ul  class="menu-bar" ng-switch-when="both">
    <li>
      <a ng-click="vm.gotoPreviousPage()">&lt;</a>
    </li>
    <li class="text-center">
      <a>
        <span class="show-for-small-only">Page {{vm.getNormalizedPageFormatted()}}</span>
        <span class="show-for-medium">Page {{vm.getNormalizedPageFormatted()}} of {{vm.totalPagesFormatted}}</span>
      </a>
    </li>
    <li>
        <a ng-click="vm.gotoNextPage()">&gt;</a>
    </li>
  </ul>
</div>
