<section class="accordion-item" class="block-list" ng-class="{'is-active': vm.active}">
  <div class="accordion-title" ng-click="vm.active = !vm.active">{{vm.facetLabel ? vm.facetLabel : vm.facetName}}</div>
  <div class="accordion-content">
    <ul class="block-list">
      <li>
        <input type="text" ng-model="vm.facetFilter"
               placeholder="{{vm.facetLabel ? vm.facetLabel : vm.facetName}} filter">
      </li>
      <li ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter">
        <input type="checkbox" id="{{::facet.hash}}" ng-model="facet.active" ng-click="vm.toggleFacet(facet)">
        <label for="{{::facet.hash}}">{{facet.name}} <span>{{facet.label}}</span></label>
      </li>
    </ul>
  </div>
</section>
