---
name: home
url: /
---
<div class="grid-frame vertical">
  <div class="grid-content shrink" style="padding: 0;">

    <!-- Top Bar -->
    <ul class="primary menu-bar">
      <li class="medium-3 grid-block"><a><strong>Fusion seed app</strong></a></li>
      <li>
        <form>
          <span class="inline-label">
            <input type="text" placeholder="Search...">
            <a href="#" class="button">Search</a>
          </span>
        </form>
      </li>
    </ul>

    <!-- Main Content Area -->
    <div class="grid-content">
      <div class="grid-container">
        <h1>Welcome to The Fusion Seed App!</h1>
        <p class="lead">This is version <strong>1.2 Eiger</strong>.</p>
        <strong>This will soon become the seed app</strong>
      </div>
    </div>
  </div>
