<!-- Main Content Frame -->
<div class="grid-block">

  <!-- Left Panel -->
  <div ng-show="hc.showFacets" class="medium-4 large-3 medium-grid-block">
    <div
      zf-panel
      id="sidebar"
      position="left"
      zf-swipe-close="left"
      class="medium-grid-block panel-fixed medium-12 vertical"
      style="padding: .75rem 20px;">
      <a zf-close="" class="close-button show-for-small-only">×</a>
      <facet-list></facet-list>
    </div>
  </div>

  <!-- Main Content Area -->
  <div class="grid-block small-6" ng-class="{'large-9 medium-8':hc.showFacets,'large-9 medium-8':!hc.showFacets}">
    <div class="grid-content">
      <a name="topOfMainContent"></a>
      <div class="card card-result-comment" ng-switch="hc.status">
        <div class="card-section center card-normal" ng-switch-when="normal">
          Showing Results for "{{hc.lastQuery}}".
        </div>
        <div class="card-section center card-get-started" ng-switch-when="get-started">
          <img zf-iconic="" icon="empty_state" data-direction="top" size="medium" />
          <h2>Your results will live here</h2>
          <p class="subheader">Try searching any query above in the search box</p>
        </div>

        <div class="card-section center card-no-results" ng-switch-when="no-results">
          <img zf-iconic="" icon="no_results" data-direction="top" size="medium" />
          <h2>There are no results for &ldquo;<span class="highlight">{{hc.lastQuery}}</span>&rdquo;</h2>
          <p class="subheader">Try searching on a different term or using different facets to refine your search</p>
        </div>
      </div>
      <landing-page></landing-page>
      <banner></banner>
      <document-list></document-list>
      <paginate></paginate>
    </div>
  </div>

  <div class="medium-4 large-3 medium-grid-block" id="main-hiding-block" style="padding: .75rem 20px;">

    <!--APPLICABLE RULES-->
    <div class="well well-sm well-transp well-outline {{hc.fusion.applicable_rules && 'showrules' || 'hidden' }} lw-panel inserted-hiding-block"
         id="rules-sidebar" >
      <p class="small text-nowrap text-muted mt-5 well-title">
        <span>{{hc.fusion.applicable_rules.length}}</span> of <span>{{hc.fusion.applicable_rules.length}}</span> applicable rules
        <a data-toggle="collapse" data-target="#rules-filters-side-panel"
           class="btn btn-lg btn-link pull-right"><i class="mi-filter_list"></i></a>
        <a data-toggle="collapse" data-target="#rules-quick-search-side-panel"
           class="btn btn-lg btn-link pull-right"><i class="fa fa-search"></i></a>
      </p>

      <!-- rules quick search -->
      <div class="well-holder collapse" id="rules-quick-search-side-panel">
        <div class="well">
          <div class="form-group mb-0">
            <input type="text" class="form-control input" data-input="quick-search"
                   data-search-target="#rules-list-sidebar > a" name="quick-search"
                   placeholder="Enter name of search rule" ng-model="rulesQuery"/>
              <span class="glyphicon glyphicon-remove-circle form-control-feedback form-action-clear"
                    aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <!-- /.rules quick search -->

      <!-- side-filters-panel -->
      <div class="well-holder collapse" id="rules-filters-side-panel">
        <div class="well">
          Date: <adm-dtp ng-model='hc.simulation.now' on-change="hc.doSearch();" options="{autoClose:'true', format:'YYYY-MM-DDThh:mm:00Z'}"></adm-dtp>

          Tags:
          <ul class="list-unstyled with-states">
            <li ng-repeat="f in hc.fusion.applicable_rules_data.facet_counts.facet_fields.tags track by $index"
                ng-if="($index % 2) == 0">
              <div class="btn-group btn-group-sm pull-right" data-toggle="buttons"
                   ng-if="$index != (hc.fusion.applicable_rules_data.facet_counts.facet_fields.tags.length-2)">
                <label class="btn btn-link" ng-class="{'active': hc.simulation.tags && (hc.simulation.tags.indexOf(f) != -1)}" ng-click="hc.includeRulesWithTag(f, true)">
                  <input type="radio" name="options" id="option1" autocomplete="off">Include
                </label>
                <label class="btn btn-link" ng-class="{'active': hc.simulation.tags_exclude && (hc.simulation.tags_exclude.indexOf(f) != -1)}" ng-click="hc.includeRulesWithTag(f, false)">
                  <input type="radio" name="options" id="option3" autocomplete="off">Exclude
                </label>
              </div>
                  <span class="text-overflow ng-binding">
                     <i class="fa fa-tag text-muted-light"></i>
                    {{hc.fusion.applicable_rules_data.facet_counts.facet_fields.tags[$index]}}
                  </span>
            </li>
          </ul>

          <button class="btn btn-sm btn-link" data-toggle="collapse" data-target="#rules-filters-side-panel" type="button" ng-click="hc.simulation = {}; hc.doSearch();" ><i class="fa fa-undo"></i>Reset</button>
        </div>
      </div>
      <!-- /.side-filters-panel -->

      <div class="list-group list-group-no-outline mb-0" id="rules-list-sidebar">
        <div ng-repeat="rule in hc.fusion.applicable_rules | filter: { ruleName: rulesQuery } track by $index">
          <a class="list-group-item collapse-by-icon"
             data-toggle="collapse" aria-expanded="false" data-parent="#rules-sidebar"
             data-target="#{{hc.getUIId(rule.id)}}"
             > <!-- ng-if="hc.simulation['rules.exclude'].indexOf(rule.id) == -1" -->
                 <span class="pull-right">
                    <i class="fa fa-angle-down"></i>
                    <i class="fa fa-angle-up"></i>
                 </span>
                 <span class="text-overflow">
                   <i ng-click="hc.updateRules($event, rule)"
                      ng-model="(hc.fusion.applicable_rules)"
                      class="status mr-5" ng-class="{'bg-inactive':hc.simulation['rules.exclude'] && hc.simulation['rules.exclude'].indexOf(rule.id) != -1 , 'bg-active': !hc.simulation['rules.exclude'] || hc.simulation['rules.exclude'].indexOf(rule.id) == -1}"></i>
                   <span ng-if="rule.ruleName">{{rule.ruleName.toString()}}</span>
                   <span ng-if="!rule.ruleName">{{rule.id}}</span>
                 </span>
          </a>
          <div id="{{hc.getUIId(rule.id)}}" aria-expanded="false" class="collapse list-group-item-content">
            <ul class="list-unstyled">

              <!-- RULE ACTIONS -->
              <li class="form-group" ng-if="rule.description[0]">
                <label class="small text-muted text-uppercase">Description</label>
                <span class="triggerKeywords">{{rule.description.toString()}}</span>
              </li>
              <li class="form-group">
                <label class="small text-muted text-uppercase"><span ng-if="rule.field_values"> {{rule.field_name.join(', ')}} </span>{{rule.display_type.toString()}}</label>

                <span class="triggerKeywords" ng-if="rule.values">{{rule.values.join(', ')}}</span>
                <span class="triggerKeywords" ng-if="rule.field_values">{{rule.field_values.join(', ')}}</span>
                <div class="form-group" ng-if="rule.param_keys"
                     ng-repeat="param in rule.param_keys track by $index">
                  <span class="set-params">{{rule.param_keys[$index]}}</span>
                  <span class="set-params">{{rule.param_values[$index]}}</span>
                  <span class="set-params addTriggerCategory">{{rule.param_policies[$index]}}</span>
                </div>
              </li>
              <!-- Trigger Date and Time -->
              <li class="col-xs-5" ng-repeat="ruleDate in rule.viewDates[0] track by $index">
                <div class="form-group datepicker-inline trigger-date">
                  <label for="triggerStart" class="small text-muted text-uppercase">Start</label>
                  <div class="datepicker-holder">
                    <input type='text' class="form-control  trigger-start disabledControl" id="triggerStart"
                           ng-model="rule.viewDates[0][$index]"/>
                  </div>
                </div>
                <div class="form-group datepicker-inline trigger-date">
                  <label for="triggerEnd" class="small text-muted text-uppercase">End</label>
                  <div class="datepicker-holder">
                    <input type='text' class="form-control  trigger-end disabledControl" id="triggerEnd"
                           ng-model="rule.viewDates[1][$index]"/>
                  </div>
                </div>
              </li>
              <!-- Trigger Types -->
              <li class="form-group" ng-if="rule.search_terms[0]">
                <label class="small text-muted text-uppercase">Keywords</label>
                <span class="triggerKeywords">{{rule.search_terms[0]}}</span>
              </li>
              <li class="form-group" ng-if="rule.filters"`>
                <label class="small text-muted text-uppercase">Fields Values</label>
                <ul style="list-style: none; margin: 0;">
                  <li ng-repeat="field in rule.filters">{{field}}</li>
                </ul>
              </li>
              <li class="form-group" ng-if="rule.effective_range">
                <ul style="list-style: none; margin: 0;">
                  <li ng-repeat="range in rule.effective_range">
                    <div class="row hor-gut-10">
                      <div class="col-sm-6 form-group">
                        <label for="triggerStart" class="small text-muted text-uppercase">Start</label>
                        <div class="datepicker-holder">
                          <span type="text" class="form-control" id="triggerStartDate" >{{hc.parseRange(range).startDate}}</span>
                          <span type="text" class="form-control small" id="triggerStartTime" >{{hc.parseRange(range).startTime}}</span>
                        </div>
                      </div>
                      <div class="col-sm-6 form-group">
                        <label for="triggerEnd" class="small text-muted text-uppercase">End</label>
                        <span type="text" class="form-control" id="triggerEndDate" >{{hc.parseRange(range).endDate}}</span>
                        <span type="text" class="form-control small" id="triggerEndTime" >{{hc.parseRange(range).endTime}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- "[2016-08-02T00:00 TO 2016-08-26T00:00]".match(/(\d\d\d\d-\d\d-\d\d)T([^\s]+) TO (\d\d\d\d-\d\d-\d\d)T([^\s]+)/) -->

              <li class="form-group" ng-if="rule.tags">
                <label class="small text-muted text-uppercase">Tags</label>
                <span>{{rule.tags.join(', ')}}</span>
              </li>

              <!--                     RULE TRIGGER
                                  <li>
                                    <div class="form-group">
                                      <label for="triggerCategory" class="small text-muted text-uppercase">Category</label>
                                      <span class="readonly">Category #1, Category #2</span>
                                    </div>
                                  </li>
                                   /. RULE TRIGGER

                                   RULE PERIOD
                                  <li>
                                    <div class="row hor-gut-10">
                                      <div class="col-sm-6 form-group">
                                        <label for="triggerStart" class="small text-muted text-uppercase">Start</label>
                                        <div class="datepicker-holder">
                                          <input type="text" class="form-control" id="triggerStartDate" value="06/20/2016" disabled />
                                          <input type="text" class="form-control small" id="triggerStartTime" value="10:00 AM" disabled />
                                        </div>
                                      </div>
                                      <div class="col-sm-6 form-group">
                                        <label for="triggerEnd" class="small text-muted text-uppercase">End</label>
                                        <input type="text" class="form-control" id="triggerEndDate" value="06/23/2016" disabled />
                                        <input type="text" class="form-control small" id="triggerEndTime" value="12:00 AM" disabled />
                                      </div>
                                    </div>
                                  </li>
                                   /.RULE PERIOD

                                   RULE ACTION
                                  <li>
                                    <div class="form-group">
                                      <label for="actionRedirect" class="small text-muted text-uppercase">Redirect</label>
                                      <input type="text" class="form-control" id="actionRedirect" value="/screens/touch-technology"  disabled>
                                    </div>
                                  </li>
                                   /.RULE ACTION -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
