---
name: home
url: /
---
<zf-offcanvas position="left">
</zf-offcanvas>
<div class="grid-frame vertical">
  <div class="grid-content shrink" style="padding: 0;">

    <!-- Top Bar -->
    <div class="primary title-bar">
      <form class="center">
        <span class="inline-label">
          <input type="text" placeholder="Search...">
          <a href="#" class="button">Search</a>
        </span>
      </form>
      <span class="left"><a zf-toggle="sidebar"><</a> <a class="title">Fusion seed app</a></span>
      <span class="right"><a href="#">Logout</a></span>
    </div>
    <!-- left panel -->
    <div zf-panel id="sidebar" position="left" zf-swipe-close="left" class="medium-grid-block collapse medium-3 large-3 vertical">
      <a zf-close="" class="close-button">×</a>
      <p>This is a basic panel.</p>
      Hello
    </div>

    <!-- Main Content Area -->
    <div class="grid-content">
      <div class="grid-container">
        <div class="title-bar">
          <span class="left">0 results</span>
          <span class="right"><spna zf-action-sheet=""><span zf-as-button="" title="Filters"></span><span zf-as-content="" position="bottom">hello</span></span>
        </div>
        <h1>Welcome to The Fusion Seed App!</h1>
        <p class="lead">This is version <strong>1.2 Eiger</strong>.</p>
        <strong>This will soon become the seed app</strong>
      </div>
    </div>
  </div>
