<!-- Main Content Frame -->
<div class="grid-block vertical">
  <div class="grid-block">

    <!-- Left Panel -->
    <div class="medium-4 large-3 medium-grid-block">
      <div
        zf-panel
        id="sidebar"
        position="left"
        zf-swipe-close="left"
        class="medium-grid-block panel-fixed collapse medium-12 vertical">
        <a zf-close="" class="close-button show-for-small-only">×</a>
        <facet-list></facet-list>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="large-9 medium-8 small-12 grid-block">
      <div class="grid-content">
        <a name="topOfMainContent"></a>
        <!-- Spellcheck -->
        <div class="card">
          <div class="card-section center">
            Showing Results for "{{hc.lastQuery}}".
          </div>
        </div>
        <landing-page></landing-page>
        <document-list context="hc.context"></document-list>
        <paginate></paginate>
      </div>
    </div>

  </div>
</div>
