<!-- Main Content Frame -->
<div class="grid-block">

  <!-- Left Panel -->
  <div ng-show="hc.showFacets" class="medium-4 large-3 medium-grid-block">
    <div
      zf-panel
      id="sidebar"
      position="left"
      zf-swipe-close="left"
      class="medium-grid-block panel-fixed medium-12 vertical"
      style="padding: .75rem 20px;">
      <a zf-close="" class="close-button show-for-small-only">×</a>
      <facet-list></facet-list>
    </div>
  </div>

  <!-- Main Content Area -->
  <div class="grid-block small-6" ng-class="{'large-9 medium-8':hc.showFacets,'large-9 medium-8':!hc.showFacets}">
    <div class="grid-content">
      <a name="topOfMainContent"></a>
      <div class="card card-result-comment" ng-switch="hc.status">
        <div class="card-section center card-normal" ng-switch-when="normal">
          Showing Results for "{{hc.lastQuery}}".
        </div>
        <div class="card-section center card-get-started" ng-switch-when="get-started">
          <img zf-iconic="" icon="empty_state" data-direction="top" size="medium" />
          <h2>Your results will live here</h2>
          <p class="subheader">Try searching any query above in the search box</p>
        </div>

        <div class="card-section center card-no-results" ng-switch-when="no-results">
          <img zf-iconic="" icon="no_results" data-direction="top" size="medium" />
          <h2>There are no results for &ldquo;<span class="highlight">{{hc.lastQuery}}</span>&rdquo;</h2>
          <p class="subheader">Try searching on a different term or using different facets to refine your search</p>
        </div>
      </div>
      <landing-page></landing-page>
      <document-list></document-list>
      <paginate></paginate>
    </div>
  </div>

  <div class="medium-4 large-3 medium-grid-block" style="padding: .75rem 20px;">

    <!--APPLICABLE RULES-->
    <div class="well well-sm well-transp well-outline {{hc.fusion.applicable_rules && 'showrules' || 'hidden' }} lw-panel"
         id="rules-sidebar">
      <p class="small text-nowrap text-muted mt-5 well-title">
        <span>{{hc.fusion.applicable_rules.length}}</span> of <span>{{hc.fusion.applicable_rules.length}}</span> applicable rules
        <a data-toggle="collapse" data-target="#rules-filters-side-panel"
           class="btn btn-lg btn-link pull-right"><i class="mi-filter_list"></i></a>
        <a data-toggle="collapse" data-target="#rules-quick-search-side-panel"
           class="btn btn-lg btn-link pull-right"><i class="fa fa-search"></i></a>
      </p>

      <!-- rules quick search -->
      <div class="well-holder collapse" id="rules-quick-search-side-panel">
        <div class="well">
          <div class="form-group mb-0">
            <input type="text" class="form-control input" data-input="quick-search"
                   data-search-target="#rules-list-sidebar > a" name="quick-search"
                   placeholder="Enter name of search rule" ng-model="rulesQuery"/>
              <span class="glyphicon glyphicon-remove-circle form-control-feedback form-action-clear"
                    aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <!-- /.rules quick search -->

      <!-- side-filters-panel -->
      <div class="well-holder collapse" id="rules-filters-side-panel">
        <div class="well">
          <ul class="list-unstyled with-states">
            <!--              <li>
                            <div class="row hor-gut-10">
                              <div class="col-xs-6">
                                <label for="sideFilterStart" class="small text-muted text-uppercase">Start</label>
                                <div class="datepicker-holder">
                                  <input type="text" class="form-control" id="rulesSideFilterStartDateVal" value="06/20/2016"/>
                                  <input type="text" class="form-control small" id="rulesSideFilterStartTimeVal"
                                         value="10:00 AM"/>
                                  <input type='text' class="form-control datepicker" id="rulesSideFilterStart"
                                         placeholder="Select start date"/>
                                </div>
                              </div>
                              <div class="col-xs-6">
                                <label for="sideFilterEnd" class="small text-muted text-uppercase">End</label>
                                <div class="datepicker-holder">
                                  <input type="text" class="form-control" id="rulesSideFilterEndDateVal" value="06/23/2016"/>
                                  <input type="text" class="form-control small" id="rulesSideFilterEndTimeVal"
                                         value="12:00 AM"/>
                                  <input type='text' class="form-control datepicker" id="rulesSideFilterEnd"
                                         placeholder="Select end date"/>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="divider"></li>
                          <li>
                            <label for="filterStatus" class="small text-muted text-uppercase">Staus</label>


                            <div class="btn-group btn-group-justified" data-toggle="buttons" id="filterStatus">
                              <label class="btn btn-link">
                                <input type="radio" name="options" id="option1" autocomplete="off">Active
                              </label>
                              <label class="btn btn-link active">
                                <input type="radio" name="options" id="option2" autocomplete="off" checked>N/A
                              </label>
                              <label class="btn btn-link">
                                <input type="radio" name="options" id="option3" autocomplete="off">Inactive
                              </label>
                            </div>
                          </li>
                          <li class="divider"></li>
                          <li>
                            <label for="filterTags" class="small text-muted text-uppercase">Tags</label>
                            &lt;!&ndash; <div class="btn-group btn-group-justified" role="group" id="filterActuality">
                               <a class="btn btn-sm btn-link" href="#">Enabled</a>
                               <a class="btn btn-sm btn-link" href="#">Disabled</a>
                            </div> &ndash;&gt;
                          </li>
                          &lt;!&ndash; <ul class="with-states list-unstyled tags" id="filterTags"> &ndash;&gt;
                          <li>
                            <div class="checkbox checkbox-right">
                              <label>
                                <input type="checkbox">
                                   <span class="text-overflow">
                                      <i class="fa fa-tag text-muted-light"></i>
                                      Simulation Simulation Simulation Simulation Simulation
                                   </span>
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox checkbox-right">
                              <label>
                                <input type="checkbox">
                                   <span class="text-overflow">
                                      <i class="fa fa-tag text-muted-light"></i>
                                      Tag #2
                                   </span>
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="checkbox checkbox-right">
                              <label>
                                <input type="checkbox">
                                   <span class="text-overflow">
                                      <i class="fa fa-tag text-muted-light"></i>
                                      Other tag
                                   </span>
                              </label>
                            </div>
                          </li>
                          <li class="divider"></li>-->
            <li ng-repeat="f in hc.fusion.applicable_rules_data.facet_counts.facet_fields.tags track by $index"
                ng-if="($index % 2) == 0">
              <div class="btn-group btn-group-sm pull-right" data-toggle="buttons">
                <label class="btn btn-link" ng-click="hc.includeRulesWithTag(f, true)">
                  <input type="radio" name="options" id="option1" autocomplete="off">Include
                </label>
                <label class="btn-uncheckable btn-link disabled active">
                  <input type="radio" name="options" id="option2" autocomplete="off" disabled="" checked="">N/A
                </label>
                <label class="btn btn-link" ng-click="hc.includeRulesWithTag(f, false)">
                  <input type="radio" name="options" id="option3" autocomplete="off">Exclude
                </label>
              </div>
                  <span class="text-overflow ng-binding">
                     <i class="fa fa-tag text-muted-light"></i>
                    {{hc.fusion.applicable_rules_data.facet_counts.facet_fields.tags[$index]}}
                    ({{hc.fusion.applicable_rules_data.facet_counts.facet_fields.tags[$index+1]}} /
                    {{hc.fusion.applicable_rules_data.facet_counts.facet_fields.drill_down_tags[$index+1]}})
                  </span>
            </li>
            <!-- </ul> -->
<!--            <li class="divider"></li>
            <li>
              <div class="btn-group btn-group-justified" id="apply-rules-filters-side-panel">
                <a data-toggle="collapse" data-target="#rules-filters-side-panel" class="btn btn-sm btn-link"><i
                  class="fa fa-times"></i>Cancel</a>
                <a data-toggle="collapse" data-target="#rules-filters-side-panel"
                   class="btn btn-sm btn-default"><i class="fa fa-check"></i> Apply</a>
              </div>
            </li>-->
          </ul>
        </div>
      </div>
      <!-- /.side-filters-panel -->

      <div class="list-group list-group-no-outline mb-0" id="rules-list-sidebar">
        <div ng-repeat="rule in hc.fusion.applicable_rules | filter: { id: rulesQuery } track by $index">
          <a class="list-group-item collapse-by-icon"
             data-toggle="collapse" aria-expanded="false" data-parent="#rules-sidebar"
             data-target="#{{rule.id}}">
                 <span class="pull-right">
                    <i class="fa fa-angle-down"></i>
                    <i class="fa fa-angle-up"></i>
                 </span>
                 <span class="text-overflow">
                   <i ng-click="hc.updateRules($event, rule)"
                      ng-model="(hc.fusion.applicable_rules)"
                      class="status mr-5" ng-class="{'bg-inactive':hc.simulation.excluded_ids.indexOf(rule.id) != -1 , 'bg-active': hc.simulation.excluded_ids.indexOf(rule.id) == -1}"></i>
                    {{rule.id}}
                 </span>
          </a>
          <div id="{{rule.id}}" aria-expanded="false" class="collapse list-group-item-content">
            <ul class="list-unstyled">

              <!-- RULE ACTIONS -->
              <li>
                <label class="small text-muted text-uppercase"><span ng-if="rule.field_values"> {{rule.field_name.join(', ')}} </span>{{rule.display_type.toString()}}</label>

                <span ng-if="rule.values">{{rule.values.join(', ')}}</span>
                <span ng-if="rule.field_values">{{rule.field_values.join(', ')}}</span>
                <div class="form-group" ng-if="rule.param_keys"
                     ng-repeat="param in rule.param_keys track by $index">
                  <span class="set-params">{{rule.param_keys[$index]}}</span>
                  <span class="set-params">{{rule.param_values[$index]}}</span>
                  <span class="set-params addTriggerCategory">{{rule.param_policies[$index]}}</span>
                </div>
              </li>

              <!-- Trigger Date and Time -->
              <li class="col-xs-5" ng-repeat="ruleDate in ruleArrays[rule.id].dates[0] track by $index">
                <div class="form-group datepicker-inline trigger-date">
                  <label for="triggerStart" class="small text-muted text-uppercase">Start</label>
                  <div class="datepicker-holder">
                    <input type='text' class="form-control  trigger-start disabledControl" id="triggerStart"
                           ng-model="ruleArrays[rule.id].dates[0][$index]"/>
                  </div>
                </div>
                <div class="form-group datepicker-inline trigger-date">
                  <label for="triggerEnd" class="small text-muted text-uppercase">End</label>
                  <div class="datepicker-holder">
                    <input type='text' class="form-control  trigger-end disabledControl" id="triggerEnd"
                           ng-model="ruleArrays[rule.id].dates[1][$index]"/>
                  </div>
                </div>
              </li>
              <!-- Trigger Types -->
              <li class="form-group" ng-if="rule.search_terms[0]">
                <label class="small text-muted text-uppercase">Keywords</label>
                <span class="triggerKeywords">{{rule.search_terms[0]}}</span>
              </li>
              <li class="form-group"
                  ng-repeat="caregory in ruleArrays[rule.id].filters[0] track by $index">
                <label class="small text-muted text-uppercase">Field Value</label>
                <select class="form-control addTriggerCategory disabledControl"
                        ng-model="ruleArrays[rule.id].filters[0][$index]">
                  <option ng-repeat="(value, caption) in productList" value="{{value}}">{{caption}}</option>
                </select>
                <input class="form-control disabledControl triggerCategory"
                       ng-model="ruleArrays[rule.id].filters[1][$index]"/>
              </li>
              <li class="form-group" ng-if="rule.tags">
                <label class="small text-muted text-uppercase">Tags</label>
                <span class="triggerTags">{{rule.tags.join(', ')}}</span>
              </li>

              <!--                     RULE TRIGGER
                                  <li>
                                    <div class="form-group">
                                      <label for="triggerCategory" class="small text-muted text-uppercase">Category</label>
                                      <span class="readonly">Category #1, Category #2</span>
                                    </div>
                                  </li>
                                   /. RULE TRIGGER

                                   RULE PERIOD
                                  <li>
                                    <div class="row hor-gut-10">
                                      <div class="col-sm-6 form-group">
                                        <label for="triggerStart" class="small text-muted text-uppercase">Start</label>
                                        <div class="datepicker-holder">
                                          <input type="text" class="form-control" id="triggerStartDate" value="06/20/2016" disabled />
                                          <input type="text" class="form-control small" id="triggerStartTime" value="10:00 AM" disabled />
                                        </div>
                                      </div>
                                      <div class="col-sm-6 form-group">
                                        <label for="triggerEnd" class="small text-muted text-uppercase">End</label>
                                        <input type="text" class="form-control" id="triggerEndDate" value="06/23/2016" disabled />
                                        <input type="text" class="form-control small" id="triggerEndTime" value="12:00 AM" disabled />
                                      </div>
                                    </div>
                                  </li>
                                   /.RULE PERIOD

                                   RULE ACTION
                                  <li>
                                    <div class="form-group">
                                      <label for="actionRedirect" class="small text-muted text-uppercase">Redirect</label>
                                      <input type="text" class="form-control" id="actionRedirect" value="/screens/touch-technology"  disabled>
                                    </div>
                                  </li>
                                   /.RULE ACTION -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
