<!-- Top Bar -->
<nav class="primary title-bar">
  <span class="center">
    <form name="searchForm" class="show-for-medium" ng-submit="hc.search()">
      <span class="inline-label" style="margin-bottom: 0;">
        <!-- TODO Add a class -->
        <search-box query="hc.searchQuery" style="flex:1"></search-box>
        <!-- <input type="text" placeholder="Search..." autocomplete="on" ng-model="hc.searchQuery"/> -->
        <a href="#" class="success button" ng-click="hc.search()"><img
          zf-iconic=""
          icon="magnifying-glass"
          data-direction="top"
          size="small"
          class="iconic-color-secondary"></a>
      </span>
    </form>
    <span class="show-for-small-only">
      <a class="title">{{hc.appName}}</a>
    </span>
  </span>
  <!-- Mobile Search bar -->
  <ul class="left menu-bar primary condense">
    <li class="show-for-small-only">
      <a zf-toggle="sidebar"><img
        zf-iconic=""
        icon="menu"
        data-direction="top"
        size="small"
        class="iconic-color-secondary"></a></a>
    </li>
    <li class="show-for-medium">
      <a class="title">{{hc.appName}}</a>
    </li>
  </ul>
  <ul class="right menu-bar primary condense">
    <li class="show-for-medium">
      <a ui-sref="login" ng-click="hc.logout()">Logout</a>
    </li>
  </ul>
</nav>
<nav class="primary title-bar show-for-small-only">
  <form ng-submit="hc.search()">
    <span class="inline-label" style="margin-bottom: 0;">
      <!-- TODO Add a class -->
      <search-box query="hc.searchQuery" style="flex:1"></search-box>
      <a href="#" class="success button" ng-click="hc.search()"><img
        zf-iconic=""
        icon="magnifying-glass"
        data-direction="top"
        size="small"
        class="iconic-color-secondary"></a>
    </span>
  </form>
</nav>
<!-- Secondary Top Bar -->
<div class="title-bar">
  <span class="left">
    <div class="row">
      <div class="small-2 columns">{{hc.numFound}} results</div>
    </div>
  </span>
  <span class="right">
    <sort></sort>
  </span>
</div>
