---
name: login
url: /login
---
<div class="grid-frame vertical">

    <!-- Top Bar -->
    <nav class="primary title-bar">
      <span class="center">
        <span class="show-for-small-only"><a class="title">Fusion seed app</a></span>
      </span>
      <ul class="left menu-bar primary condense">
        <li class="show-for-medium">
          <a class="title">Fusion seed app</a>
        </li>
      </ul>
    </nav>

    <!-- Main Content Frame -->
    <div class="grid-container">
      <main class="grid-content">
        <h1>Please login</h1>
      </main>
    </div>

</div>
