---
name: rules
url: /rules
animationIn: slideInRight
animationOut: slideOutLeft
controller: rulesController as rc
---
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Lucidworks Rules</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ui-sref="home">Simulation</a>
        </li>
        <li>
          <a ui-sref="login" ng-click="rc.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h1>Lucidworks Rules</h1>
    </div>
  </div>

  <div class="row">
    <!-- SIDEBAR -->
    <div class="col-sm-2">
      <a data-toggle="modal"
         data-target="#addRule"
         ng-mouseenter="checkSession()"
         class="btn btn-lg btn-block btn-default lead-btn" >
        <i class="fa fa-plus"></i>
        Add rule
      </a>
      <div class="list-group table-of-contents" id="accordion">
        <a class="list-group-item" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true">Rule Types</a>
        <div id="collapseOne" class="collapse in" role="tabpanel">
          <ul class="list-unstyled data-links">
            <li ng-repeat="f in facets.display_type"><a data-quantity="{{f[1]}}" class="text-muted-light active" href="javascript:void(0);" ng-click="filterBy('display_type', f[0])">{{f[0]}}</a></li>
          </ul>
        </div>

        <a class="list-group-item" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEnabled" aria-expanded="true">Status</a>
        <div id="collapseEnabled" class="collapse in" role="tabpanel">
          <ul class="list-unstyled data-links">
            <li ng-repeat="f in facets.enabled"><a data-quantity="{{f[1]}}" class="text-muted-light active" href="javascript:void(0);" ng-click="filterBy('enabled', f[0])"><i class="fa fa-tag"></i>{{f[0] == 'false' ? 'Disabled' : 'Enabled'}}</a></li>
          </ul>
        </div>

        <a class="list-group-item" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTags" aria-expanded="true">Tags</a>
        <div id="collapseTags" class="collapse in" role="tabpanel">
          <ul class="list-unstyled data-links">
            <li ng-repeat="f in facets.tags"><a data-quantity="{{f[1]}}" class="text-muted-light active" href="javascript:void(0);" ng-click="filterBy('tags', f[0])"><i class="fa fa-tag"></i>{{f[0]}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.SIDEBAR -->

    <!-- MAIN -->
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6">
          <div class="btn-group checkbox-inside">
            <div class="btn">
              <div class="checkbox">
                <label><input type="checkbox" id="selectAllBoxes" ng-click="checkUncheckAll(); resetFocus();" ng-model="masterBox" ng-value="true"></label>
              </div>
            </div>
            <a href="javascript:void(0);" class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu with-states">
              <li>
                <a href="javascript:void(0);" ng-click="checkUncheckAll('all')">All</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0);" ng-click="checkUncheckAll('none')">None</a>
              </li>
            </ul>
          </div>
          <span class="small text-muted checkbox-inside-hint">{{checkedRulesIds.length + (checkedRulesIds.length==1 ? ' rule selected':' rules selected')}}</span>
          <div class="btn-group btn-group-lg">
            <a href="javascript:void(0);" class="btn btn-link dropdown-toggle" data-toggle="dropdown" id="bulk-actions" ng-disabled="checkedRulesIds.length == 0">
              <i class="fa fa-clone"></i>
              Bulk actions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu with-states min-w-280" ng-class="{'hidden':checkedRulesIds.length == 0}" id="bulk-dropdown">
              <li>
                <a class="text-overflow" href="javascript:void(0);" data-toggle="modal" data-target="#singleDeleteConfirm"
                   ng-click="checkNoConfirmDelete()"
                   ng-if="checkedRulesIds.length == 1"><i class="fa fa-times"></i>Delete selected rules</a>
                <a class="text-overflow" href="javascript:void(0);" data-toggle="modal" data-target="#bulkDeleteConfirm"
                   ng-click="checkNoConfirmDelete()"
                   ng-if="checkedRulesIds.length > 1"><i class="fa fa-times"></i>Delete selected rules</a>
              </li>
              <li class="divider"></li>
              <li>
                <div class="btn-group btn-group-sm pull-right" data-toggle="buttons">
                  <label class="btn btn-link active" ng-click="bulkStatus(true)">
                    <input type="radio" name="options" id="option1" autocomplete="off">On
                  </label>
                  <label class="btn-uncheckable btn-link disabled">
                    <input type="radio" name="options" id="option2" autocomplete="off" disabled checked>N/A
                  </label>
                  <label class="btn btn-link" ng-click="bulkStatus(false)">
                    <input type="radio" name="options" id="option3" autocomplete="off">Off
                  </label>
                </div>
                <span class="text-overflow"><i class="status half-circle bg-active"></i><i class="status bg-inactive"></i>Enable / Disable</span>
              </li>

              <li class="divider"></li>

              <li ng-repeat="f in facets.tags">
                <div class="btn-group btn-group-sm pull-right" data-toggle="buttons">
                  <label class="btn btn-link" ng-click="bulkAddTag(f[0], false)">
                    <input type="radio" name="options" id="option1" autocomplete="off">On
                  </label>
                  <label class="btn-uncheckable btn-link disabled active">
                    <input type="radio" name="options" id="option2" autocomplete="off" disabled checked>N/A
                  </label>
                  <label class="btn btn-link" ng-click="bulkAddTag(f[0], true)">
                    <input type="radio" name="options" id="option3" autocomplete="off">Off
                  </label>
                </div>
                  <span class="text-overflow">
                     <i class="fa fa-tag text-muted-light"></i>{{f[0]}}
                  </span>
              </li>

              <li ng-if="facets.tags.length == 0">
                <div class="complex-input mb-20">
                  <span class="input-addon"><i class="fa fa-tag text-muted"></i></span>
                  <form ng-submit="bulkAddTag(customTag, false, true)">
                    <input type='text' class="form-control addNewTag" placeholder="Add new tag" ng-model="customTag"/>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 text-right">
          <div class="btn-group btn-group-lg">
            <a href="javascript:void(0);" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
              <i class="mi-filter_list"></i>
              Filter
              <span class="caret"></span>
            </a><ul class="dropdown-menu dropdown-menu-right with-states" id="filterMenu">
            <li>
              <form class="filter-form" action="">
                <div class="btn-group btn-group-justified filter-range" role="group">
                  <div class="btn">
                    <label for="filterStart" class="small text-muted text-uppercase">Start</label>
                    <div class="datepicker-holder">
                      <input type='text' class="form-control datepicker" id="filterStart" placeholder="Enter start date"/>
                    </div>
                  </div>
                  <div class="btn text-left">
                    <label for="filterEnd" class="small text-muted text-uppercase" >End</label>
                    <div class="datepicker-holder">
                      <input type='text' class="form-control datepicker" id="filterEnd" placeholder="Enter end date"/>
                    </div>
                  </div>
                </div>
              </form>
            </li>
            <li class="divider"></li>
            <li>
              <form name="filterStatusForm"  action="">
                <label for="filterStatus" class="small text-muted text-uppercase">Status</label>
                <div class="btn-group btn-group-justified" data-toggle="buttons" id="filterStatus">
                    <label class="btn btn-link" ng-click="filter.filterBy('enabled', 'true');">
                    <input type="radio" name="filterStatus" id="option1" autocomplete="off" >Enable
                  </label>
                  <label class="btn btn-link active n/a" ng-click="filter.filterBy('enabled', 'undefined');">
                    <input type="radio" name="filterStatus" id="option2" autocomplete="off"  checked>N/A
                  </label>
                  <label class="btn btn-link" ng-click="filter.filterBy('enabled', 'false');">
                    <input type="radio" name="filterStatus" id="option3" autocomplete="off"  ng-click="filter.filterBy('enabled', 'false');">Disable
                  </label>
                </div>
              </form>
            </li>
            <li class="divider"></li>
            <li>
              <label for="filterStart" class="small text-muted text-uppercase" ng-if="facets.tags.length > 0">Tags</label>
            </li>
            <li ng-repeat="f in facets.tags">
              <a class="text-muted-light active" href="javascript:void(0);"><i class="fa fa-tag"></i>{{f[0]}}
                <input type="checkbox" name="filterTagsCheckbox" ng-model="filter.values.facets.tags[f[0]]" ng-click="resetFocus()" ng-model="f[0]" />
              </a>
            </li>
            <!-- </ul> -->
            <li class="divider"></li>
            <li class="text-right">
              <div class="btn-group" role="group" id="applyFilters">
                <div>
                  <button class="btn btn-sm btn-link" type="button" ng-click="resetFilter()"><i class="fa fa-undo"></i>Reset</button>
                </div>
                <div>
                  <button class="btn btn-sm btn-link" type="button"><i class="fa fa-times"></i>Cancel</button>
                  <a class="btn btn-sm btn-default" href="javascript:void(0);" ng-click="applyFilter()"><i class="fa fa-check"></i> Apply</a>
                </div>
              </div>
            </li>
          </ul>
            <form class="form-inline" role="search" ng-submit="search()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="filter.values.query">
                <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- TABLE -->
      <table class="table table-bordered table-hover rules-list">
        <!-- THEAD -->
        <thead>
        <tr>
          <th></th>
          <th>Enabled</th>
          <th style="width:28%">Type</th>
          <th style="width:20%"><div class="column-header-holder"><span>General </span></div></th>
          <th style="width:30%">Trigger</th>
          <th><div class="column-header-holder">Created on<a href="javascript:void(0);" ng-click="sortBy('createdAt')" class="text-muted"><i class="fa" ng-class="{'fa-sort': filter.values.sortByCond == null || !filter.values.sortByCond.createdAt, 'fa-sort-asc': filter.values.sortByCond.createdAt === true, 'fa-sort-desc': filter.values.sortByCond.createdAt === false}"></i></a></div></th>
          <th><div class="column-header-holder">Edited on<a href="javascript:void(0);" ng-click="sortBy('updatedAt')" class="text-muted"><i class="fa" ng-class="{'fa-sort': filter.values.sortByCond == null || !filter.values.sortByCond.updatedAt, 'fa-sort-asc': filter.values.sortByCond.updatedAt === true, 'fa-sort-desc': filter.values.sortByCond.updatedAt === false}"></i></a></div></th>
          <th></th>
        </tr>
        </thead>
        <!-- TBODY -->
        <tbody>
        <tr class="inactive {{rule.id}}" data-ruleId="{{rule.id}}" ng-repeat="rule in rules track by $index"
            ng-if="($index >= filter.rulesFrom()) && ($index <= filter.rulesTo())">
          <td>
            <div class="column-holder">
              <div class="checkbox">
                <label><input type="checkbox" class="ruleCheckbox" checklist-model="checkedRulesIds" checklist-value="rule.id"  ng-click="getCheckedBoxesCount(); resetFocus();"></label>
              </div>
            </div>
          </td>
          <td class="text-center">
            <div class="column-holder">
              <a href="javascript:void(0)" class="status" ng-class="{'bg-inactive':!rule.enabled , 'bg-active': rule.enabled}" ng-click="changeStatus(rule.id)"></a>
            </div>
          </td>
          <td class="btn-bottom-holder">
            <div class="column-holder">
              <form action="">
                <fieldset>
                  <label for="actionProductList" class="small text-muted text-uppercase">{{rule.display_type.toString()}}</label>
                  <select class="form-control addTriggerCategory disabledControl" ng-if="rule.field_values" ng-model="rule.field_name">
                    <option ng-repeat="(value, caption) in productList" value="{{value}}">{{caption}}</option>
                  </select>
                  <textarea type='text' class="form-control disabledControl actionProductList" id="actionProductList" value="product list" ng-if="rule.values" ng-model="rule.values"></textarea>
                  <textarea type='text' class="form-control disabledControl actionProductList" id="actionProductList" value="product list" ng-if="rule.field_values" ng-model="rule.field_values" ng-list></textarea>
                  <div class="row set-params" ng-if="rule.param_keys" ng-repeat="param in rule.param_keys track by $index">
                    <div class="col-xs-4" >
                        <input type='text' class="form-control set-params disabledControl" ng-model="rule.param_keys[$index]"/>
                    </div>
                    <div class="col-xs-4">
                        <input type='text' class="form-control set-params disabledControl" ng-model="rule.param_values[$index]"/>
                    </div>
                    <div class="col-xs-3">
                      <select class="form-control set-params disabledControl"
                              ng-init="rule.param_policies[$index] = rule.param_policies[$index] || 'append'"
                              ng-model="rule.param_policies[$index]"
                              ng-options="key as value for (key, value) in policyList">
                      </select>
                    </div>
                    <div class="col-xs-1">
                        <a class="text-muted" href="javascript:void(0);"><i class="fa fa-times" ng-click="rule.param_keys.splice([$index],1); rule.param_values.splice([$index],1); rule.param_policies.splice([$index],1);"></i></a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-sm btn-default disabledControl" ng-click="rule.param_keys.push(' '); rule.param_values.push(' '); rule.param_policies.push(' ');" ng-if="rule.param_keys">Add param</button>
                </fieldset>
              </form>
            </div>
            <!--<a href="javascript:void(0);" class="column-more" >&#x85;</a>-->
          </td>
          <td>
            <div class="column-holder">
              <h2 id="2"><input type="text" class="form-control disabledControl rule-name" ng-model="rule.ruleName"/></h2>
              <p class="lead">
                <textarea rows="3" class="form-control disabledControl"
                          ng-model="rule.description" disabled>{{rule.description}}</textarea>
                <a href="javascript:void(0);" class="column-more" ng-if="rule.description.length>38">&#x85;</a>
              </p>
            </div>
          </td>
          <td class="btn-bottom-holder">
            <div class="column-holder">
              <div class="row hor-gut-6px">
                <!-- Trigger Date and Time -->
                <div class="col-xs-5" ng-repeat="ruleDate in rule.viewDates[0] track by $index">
                  <form action="">
                    <fieldset>
                      <div class="form-group datepicker-inline trigger-date">
                        <label for="triggerStart" class="small text-muted text-uppercase">Start</label>
                        <div class="datepicker-holder">
                          <input type='text' class="form-control  trigger-start disabledControl" id="triggerStart" ng-model="rule.viewDates[0][$index]"/>
                        </div>
                      </div>
                      <div class="form-group datepicker-inline trigger-date">
                        <label for="triggerEnd" class="small text-muted text-uppercase">End</label>
                        <div class="datepicker-holder">
                          <input type='text' class="form-control  trigger-end disabledControl" id="triggerEnd" ng-model="rule.viewDates[1][$index]"/>
                        </div>
                      </div>
                      <a class="text-muted" href="javascript:void(0);"><i class="fa fa-times" ng-click="rule.viewDates[0].splice($index, 1); rule.viewDates[1].splice($index, 1)"></i></a>
                    </fieldset>
                  </form>
                </div>
                <!-- Trigger Types -->
                <div class="col-xs-6">
                  <form name="editRuleForm" id="editRuleForm" action="">
                    <fieldset>
                      <div class="form-group triggerKeywords" ng-if="rule.search_terms">
                        <label class="small text-muted text-uppercase">
                          Search Terms
                        </label>
                        <a class="text-muted" href="javascript:void(0);"><i class="fa fa-times" ng-click="rule.search_terms = ''"></i></a>
                        <select class="form-control searchTermsType disabledControl"
                                ng-model="rule.matching"
                                ng-options="key as value for (key, value) in rulesConfig.searchTermsMatching"
                        >
                        </select>
                        <textarea rows="1" class="form-control disabledControl" ng-model="rule.search_terms"></textarea>
                      </div>
                      <div class="form-group triggerFieldValue" ng-repeat="caregory in rule.viewFilters[0] track by $index">
                        <label class="small text-muted text-uppercase">Field Value</label>
                        <select class="form-control addTriggerCategory disabledControl"  ng-model="rule.viewFilters[0][$index]">
                          <option ng-repeat="(value, caption) in productList" value="{{value}}">{{caption}}</option>
                        </select>
                        <input class="form-control disabledControl triggerCategory" ng-model="rule.viewFilters[1][$index]" />
                        <a class="text-muted" href="javascript:void(0);"><i class="fa fa-times" ng-click="rule.viewFilters[0].splice($index, 1); rule.viewFilters[1].splice($index, 1)"></i></a>
                      </div>
                      <div class="form-group triggerTags" ng-if="rule.viewTags">
                        <label class="small text-muted text-uppercase">Tags</label>
                        <a class="text-muted" href="javascript:void(0);"><i class="fa fa-times" ng-click="rule.viewTags = ''"></i></a>
                        <tags-input name="tags"
                                    text="rule.tagsText"
                                    ng-model="rule.viewTags"
                                    min-length="1" remove-tag-symbol="X" add-from-autocomplete-only="{{predefinedTags && predefinedTags.length > 0}}">
                          <auto-complete source="predefinedTags" load-on-down-arrow="true" load-on-empty="true" min-length="1"></auto-complete>
                        </tags-input>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
              <div class="btn-group btn-group-sm">
                <a href="javascript:void(0);" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-plus"></i>
                  Add trigger
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="javascript:void(0);" ng-click="addDates(rule.id)">ADD DATE</a>
                  </li>
                  <li ng-if="!rule.search_terms">
                    <a href="javascript:void(0);" ng-click="addTrigger(rule.id, 'search_terms')">SEARCH TERMS</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" ng-click="addFilter(rule.id || rule.name)">FIELD VALUE</a>
                  </li>

                  <li ng-if="!rule.viewTags">
                    <a href="javascript:void(0);" ng-click="addTrigger(rule.id, 'tags')">TAGS</a>
                  </li>
                </ul>
              </div>
            </div>
            <a href="javascript:void(0);" class="column-more" ng-if="rule.search_terms && rule.category_id && rule.viewTags">&#x85;</a>
          </td>
          <td>
            <div class="column-holder">
              <div class="form-group">
                <label for="rule-1-created-date" class="small text-muted text-uppercase">Date</label>
                <div class="datepicker-holder">
                  <input type='text' class="form-control" id="rule-1-created-date" value="{{rule.createdAt.toString() | date: 'MM/dd/yyyy'}}" disabled />
                </div>
              </div>
              <div class="form-group">
                <label for="rule-1-created-Time" class="small text-muted text-uppercase">Time</label>
                <div class="datepicker-holder">
                  <input type='text' class="form-control" id="rule-1-created-Time" value="{{rule.createdAt.toString() | date: 'hh:mm a'}}" disabled />
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="column-holder">
              <div class="form-group">
                <label for="rule-1-edited-date" class="small text-muted text-uppercase">Date</label>
                <div class="datepicker-holder">
                  <input type='text' class="form-control" id="rule-1-edited-date" value="{{rule.updatedAt.toString() | date: 'MM/dd/yyyy'}}" disabled />
                </div>
              </div>
              <div class="form-group">
                <label for="rule-1-edited-Time" class="small text-muted text-uppercase">Time</label>
                <div class="datepicker-holder">
                  <input type='text' class="form-control" id="rule-1-edited-Time" value="{{rule.updatedAt.toString() | date: 'hh:mm a'}}" disabled />
                </div>
              </div>
            </div>
          </td>
          <td class="text-nowrap inline-icons">
            <div class="column-holder">
              <a class="text-muted" href="javascript:void(0);" ng-click="checkSession()"><i class="fa fa-pencil"></i></a>
              <a class="text-muted" href="javascript:void(0);" ><i class="fa fa-times" ng-click="removeRule(rule.id)"></i></a>
              <div class="edit-buttons">
                <a href="javascript:void(0);" class="btn btn-sm btn-default btn-save" ng-click="updateRule(rule.id)"><i class="fa fa-check-circle"></i>Save</a>
                <a href="javascript:void(0);" class="btn btn-sm btn-default btn-cancel" ng-click=""><i class="fa fa-trash"></i>Cancel</a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row table-footer">
        <div class="col-sm-6">
          <p class="small text-nowrap"><span>Rules {{rulesTotal == 0 ? rulesTotal : filter.rulesFrom()+1}} - {{rulesTotal < filter.rulesTo() ? rulesTotal : filter.rulesTo()+1}}</span> of <span>{{rulesTotal}}</span> </p>
        </div>
        <div class="col-sm-6 text-right">
          <a href="javascript:void(0)" class="btn btn-sm btn-link" ng-click="prev()" ng-class="filter.hasPrev() ? '' : 'text-muted'" ><i class="fa fa-angle-left"></i>Previous</a>
          <a href="javascript:void(0)" class="btn btn-sm btn-link fa-right" ng-click="next()" ng-class="filter.hasNext(rulesTotal) ? '' : 'text-muted'">Next <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div id="addRule" data-show="true" class="modal fade add-rule">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="add-rule-wiz">
            <ol class="list-inline">
              <li>
                <h4>General</h4>
                <div class="wiz-step add-rule-section">
                  <form action="" class="addRuleForm">
                    <fieldset>
                      <div class="form-group rule-type-select">
                        <label for="chooseRuleType" class="small text-muted text-uppercase">Rule type</label>
                        <select class="form-control" id="chooseRuleType" ng-model="currentRule.display_type">
                          <option value="Choose rule type" selected style="display:none;">Choose rule type</option>
                          <option ng-repeat="(key, value) in types" value="{{key}}">{{key}}</option>
                        </select>
                      </div>

                      <div class="form-group rule-name-input">
                        <label for="addRuleName" class="small text-muted text-uppercase">Rule name</label>
                        <input type='text' class="form-control" id="addRuleName" placeholder="Enter rule name" ng-model="currentRule.ruleName"/>
                      </div>
                      <div class="form-group">
                        <label for="addRuleDescription" class="small text-muted text-uppercase">Description</label>
                        <textarea rows="1" class="form-control" id="addRuleDescription" placeholder="Enter rule description" ng-model="currentRule.description"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="rule-1-created-date" class="small text-muted text-uppercase">Date</label>
                        <div class="datepicker-holder">
                          <input type='text' class="form-control" id="rule-1-created-date" value="{{currentRule.createdAt | date: 'MM/dd/yyyy , hh:mm a'}}" disabled/>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </li>
              <li>
                <h4>Trigger</h4>
                <div class="wiz-step add-rule-section">
                  <form name="addRuleTriggerForm" id="addRuleTriggerForm" action="" class="addRuleForm">
                    <fieldset>
                      <div class="form-group">
                        <div class="row hor-gut-10px" ng-repeat="triggerDate in triggerDates track by $index">
                          <div class="col-sm-6 datepicker-inline">
                            <label for="addTriggerStart" class="small text-muted text-uppercase">Start</label>
                            <div class="datepicker-holder">
                              <input type='text' class="form-control datepicker add-trigger-start" id="addTriggerStart"/>
                            </div>
                          </div>
                          <div class="col-sm-6 datepicker-inline">
                            <label for="addTriggerEnd" class="small text-muted text-uppercase">End</label>
                            <div class="datepicker-holder">
                              <input type='text' class="form-control datepicker add-trigger-end" id="addTriggerEnd"/>
                            </div>
                          </div>
                          <a class="text-muted" href="javascript:void(0);"><i class="fa fa-times" ng-click="triggerDates.pop();"></i></a>
                        </div>
                      </div>
                      <div class="form-group triggerKeywords" ng-if="currentRule.keywordsFlag">
                        <label class="small text-muted text-uppercase"> Search Terms </label>
                        <a class="text-muted" href="javascript:void(0);"><i class="fa fa-times" ng-click="currentRule.keywordsFlag = false; currentRule.search_terms = '';"></i></a>
                        <select class="form-control searchTermsType"
                                ng-init="currentRule.matching = currentRule.matching || 'keywords'"
                                ng-model="currentRule.matching"
                                ng-options="key as value for (key, value) in rulesConfig.searchTermsMatching"
                        >
                        </select>

                        <textarea rows="1" class="form-control addTriggerKeywords" ng-model="currentRule.search_terms"></textarea>

                      </div>
                      <div class="form-group triggerFieldValue" ng-repeat="x in categories track by $index">
                        <label class="small text-muted text-uppercase">Field Value</label>
                        <select class="form-control addTriggerCategory" ng-model="currentRule.viewFilters[0][$index]">
                          <option ng-repeat="(value, caption) in productList" value="{{value}}">{{caption}}</option>
                        </select>
                        <input class="form-control addTriggerCategory" ng-model="currentRule.viewFilters[1][$index]"/>
                        <a class="text-muted" href="javascript:void(0);"><i class="fa fa-times" ng-click="categories.pop(); currentRule.viewFilters[0].splice($index, 1); currentRule.viewFilters[1].splice($index, 1)"></i></a>
                      </div>
                      <div class="form-group triggerTags" ng-if="currentRule.tagsFlag">
                        <label class="small text-muted text-uppercase">Tags</label>
                        <a class="text-muted" href="javascript:void(0);"><i class="fa fa-times" ng-click="currentRule.tagsFlag = false; currentRule.viewTags = '';"></i></a>
                        <tags-input name="tags"
                                    min-length="1"
                                    ng-model="currentRule.viewTags"
                                    remove-tag-symbol="X"
                                    add-from-autocomplete-only="{{predefinedTags && predefinedTags.length > 0}}"
                                    >
                          <auto-complete source="predefinedTags" load-on-down-arrow="true" load-on-empty="true" min-length="1"></auto-complete>
                        </tags-input>
                      </div>
                    </fieldset>
                  </form>
                  <div class="btn-group btn-group-sm">
                    <a href="javascript:void(0);" class="btn btn-default dropdown-toggle" ng-click="setScrollToBottom(1)" data-toggle="dropdown">
                      <i class="fa fa-plus"></i>
                      Add trigger
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="javascript:void(0);" ng-click="triggerDates.push(' '); rule.viewDates.push(' '); setScrollToBottom(1)">ADD DATES</a>
                      </li>
                      <li ng-if="!currentRule.keywordsFlag">
                        <a href="javascript:void(0);" ng-click="currentRule.keywordsFlag = true; setScrollToBottom(1)">SEARCH TERMS</a>
                      </li>
                      <li ng-if="!currentRule.categoryFlag">
                        <a href="javascript:void(0);" ng-click="categories.push(''); setScrollToBottom(1)">FIELD VALUE</a>
                      </li>
                      <li ng-if="!currentRule.tagsFlag">
                        <a href="javascript:void(0);" ng-click="currentRule.tagsFlag = true; setScrollToBottom(1)">TAGS</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <h4>{{currentRule.display_type}}</h4>
                <div class="wiz-step add-rule-section">
                  <form action="" class="addRuleForm">
                    <fieldset>
                      <select class="form-control addTriggerCategory" ng-model="currentRule.field_name" ng-if="currentRule.display_type == 'Filter List' || currentRule.display_type == 'Block List' || currentRule.display_type == 'Boost List'">
                        <option ng-repeat="(value, caption) in productList" value="{{value}}">{{caption}}</option>
                      </select>
                      <label class="small text-muted text-uppercase" ng-if="currentRule.display_type == 'Filter List' || currentRule.display_type == 'Block List' || currentRule.display_type == 'Boost List'">Document ID List</label>
                      <div class="form-group" ng-if="currentRule.display_type == 'Filter List'">
                        <textarea rows="5" placeholder="Please write a comma separated list of product ids" class="form-control actionTextArea" id="filter-list" value="filter list" ng-model="currentRule.field_values" ng-list=","></textarea>
                      </div>
                      <div class="form-group" ng-if="currentRule.display_type == 'Block List'">
                        <textarea rows="5" placeholder="Please write a comma separated list of product ids" class="form-control actionTextArea" id="block-list" value="/screens/touch-technology" ng-model="currentRule.field_values" ng-list=","></textarea>
                      </div>
                      <div class="form-group" ng-if="currentRule.display_type == 'Banner'">
                        <input type='text' placeholder="Please write banner value here" class="form-control" id="banner" value="banner"  ng-model="currentRule.values"/>
                      </div>
                      <div class="form-group" ng-if="currentRule.display_type == 'Boost List'">
                        <textarea rows="5" placeholder="Please write a comma separated list of product ids" class="form-control actionTextArea" id="boost-list" value="boost list" ng-model="currentRule.field_values" ng-list=","></textarea>
                      </div>
                      <div class="form-group" ng-if="currentRule.display_type == 'Redirect'">
                        <input type='text' placeholder="Please write redirect value here" class="form-control" id="redirect" value="redirect" ng-model="currentRule.values"/>
                      </div>
                      <div class="row" ng-if="currentRule.display_type == 'Set Params'" ng-repeat="param in setParams track by $index">
                        <div class="col-xs-3" >
                          <input type='text' placeholder="Key" class="form-control set-params param-key" ng-model="currentRule.param_keys[$index]"/>
                        </div>
                        <div class="col-xs-4">
                          <input type='text' placeholder="Value" class="form-control set-params" ng-model="currentRule.param_values[$index]"/>
                        </div>
                        <div class="col-xs-3">
                          <select class="form-control set-params"
                                  ng-init="currentRule.param_policies[$index] = 'append'"
                                  ng-model="currentRule.param_policies[$index]"
                                  ng-options="key as value for (key, value) in policyList">
                          </select>
                        </div>
                        <div class="col-xs-1">
                          <a class="text-muted" href="javascript:void(0);"><i class="fa fa-times" ng-click="setParams.pop();  currentRule.param_keys.splice([$index],1); currentRule.param_values.splice([$index],1); currentRule.param_policies.splice([$index],1);"></i></a>
                        </div>
                      </div>
                      <button type="button" class="btn btn-sm btn-default" ng-click="setParams.push(' '); setScrollToBottom(2)" ng-if="currentRule.display_type == 'Set Params'" style="margin-top: 10px;">Add param</button>
                    </fieldset>
                  </form>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="alert add-rule-error" >
          <div class="err">
            <span class="err-code"></span>
            <span class="err-message"></span>
            <a class="err-more" data-toggle="collapse" href="#addRuleErrorDetails"
               aria-expanded="false" aria-controls="addRuleErrorDetails">
              more
            </a>
          </div>
          <div id="addRuleErrorDetails" class="collapse" >

          </div>
        </div>
        <div class="modal-footer">
          <hr />
          <button type="button" class="btn btn-link text-muted" data-dismiss="modal" aria-hidden="true" ng-click="cancelRule()" ><i class="fa fa-times"></i> Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="addRuleButton" aria-hidden="true" ng-click="addRule()"><i class="fa fa-plus"></i> Add rule</button>
        </div>
      </div>
    </div>
  </div>

  <div id="singleDeleteConfirm" data-show="true" class="modal fade deleteRule"
       ng-if="checkedRulesIds.length == 1 && !noConfirmRemove.singleRemove.activated">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <p>
          Are you sure want to delete rule:
          <span ng-repeat="rule in rules |  filter: { id: checkedRulesIds[0] }">{{rule.ruleName.toString()}}</span>
        </p>
        <div class="modal-footer">
          <label>Remember
            <input type="checkbox"
                   ng-model="noConfirmRemove.singleRemove.checked"
                   ng-value="true">
          </label>
          <button type="button" class="btn btn-link text-muted" data-dismiss="modal" aria-hidden="true"></i> Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="singleDeleteConfirmButton" aria-hidden="true" ng-click="bulkRemoveRules()"> Delete</button>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div id="bulkDeleteConfirm" data-show="true" class="modal fade deleteRule"
       ng-if="checkedRulesIds.length > 1 && !noConfirmRemove.bulkRemove.activated">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <p>
          Are you sure want to delete rules:
          <ul><li  ng-repeat="rule in rules" ng-if="checkedRulesIds.indexOf(rule.id) != -1">{{rule.ruleName.toString()}}</li></ul>
        </p>
        <div class="modal-footer">
          <label>Remember
            <input type="checkbox"
                   ng-model="noConfirmRemove.bulkRemove.checked"
                   ng-value="true">
          </label>
          <button type="button" class="btn btn-link text-muted" data-dismiss="modal" aria-hidden="true"> Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="bulkDeleteConfirmButton" aria-hidden="true" ng-click="bulkRemoveRules()"> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
