---
name: simulation
url: /simulation
animationIn: slideInRight
animationOut: slideOutLeft
controller: simulationController as sc
---
<link rel="stylesheet" href="./styles/simulation.css">
<link rel="stylesheet" href="./styles/bootstrap.min.css">
<link rel="stylesheet" href="./styles/bootstrap-theme.min.css">



<div class="container simulation">

  <div class="row">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Lucidworks Rules Simulation</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <!--
                <ul class="nav navbar-nav">
                  <li>
                    <a href="#">Link #1</a>
                  </li>
                  <li>
                    <a href="#">Link #2</a>
                  </li>
                  <li>
                    <a href="#">Link #3</a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#">Action</a>
                      </li>
                      <li>
                        <a href="#">Another action</a>
                      </li>
                      <li>
                        <a href="#">Something else here</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li>
                        <a href="#">Separated link</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li>
                        <a href="#">One more separated link</a>
                      </li>
                    </ul>
                  </li>
                </ul>
          -->

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a ui-sref="rules">Rules</a>
            </li>
            <li>
              <a ui-sref="login" ng-click="rc.logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px; margin-bottom: 50px;">
    <div class="col-xs-4 col-md-3 col"></div>
    <div class="col-xs-8 col-md-6 col">

      <!--BEGINNING OF Search box-->
      <form ng-submit="doSearch(0)" xng-init="doSearch(0)" class="input-group">
        <input id='searchBoxEl'
               type="text"
               ng-model="q"
               ng-enter="doSearch(0);"
               placeholder="Search..."
               typeahead-on-select="doSearch(0);"
               typeahead="item.value as item for item in typeAheadSearch($viewValue)"
               typeahead-template-url="q_typeahead.html"
               typeahead-loading="loading"
               typeahead-focus-first="false"
               typeahead-editable="true"
               class="form-control"/>
        <span id='searchIconEl' class="input-group-addon" ng-click="doSearch(0);"><span
          class="glyphicon glyphicon-search"></span></span>
      </form>
      <!--END OF Search box-->

      <!--BEGINNING OF Notification box.  To display important messsages to end-users-->
      <alert type="danger" close="notification_enabled=false" ng-show="notification_enabled">
        <span ng-bind-html="notification_msg"></span>
      </alert>
      <!--END OF Notification box-->

      <!--BEGINNING of Search Within Results-->
      <div class="panel panel-default" style="margin: 0; padding: 20px;" ng-show="lw.search_within_results_enabled">
        <div class="input-group">
          <input type="text"
                 ng-model="search_within_q"
                 ng-enter="doSearch(0);"
                 placeholder="Search within results..."
                 class="form-control"/>
          <span class="input-group-addon" ng-click="doSearch(0);"><span
            class="glyphicon glyphicon-zoom-in"></span></span>
        </div>
      </div>
      <!--END OF Search Within Results-->

      <!--BEGINNING OF Geospatial Search Panel-->
      <div class="panel panel-default" style="margin: 0px; padding: 20px;" ng-show="lw.geo_enabled">
        <div class="input-group">
          <label>Geospatial&nbsp;</label>
        </div>

        <div class="row">
          <div class="col-xs-9">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Address <span
                  class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a ng-click="getCurrentLocation()">Current Location</a></li>
                </ul>
              </div>
              <input type="text" class="form-control" ng-model="lw.address" placeholder="Type a valid address..."
                     ng-enter="doGeocode();">
              <span class="input-group-addon" ng-click="doGeocode();"><span
                class="glyphicon glyphicon-globe"></span></span>
            </div>
          </div>

          <div class="col-xs-3">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">Distance</button>
              </div>
              <input type="text" class="form-control" ng-model="lw.distance">
            </div>
          </div>
        </div>

        <div class="bg-info text-sm" style="padding: 10px;" ng-show="lw.coordinates"><i>Your derived coordinates is
          {{lw.coordinates}}</i></div>
        <div class="bg-warning" style="padding: 10px;" ng-show="lw.geoMessage"><i>{{lw.geoMessage}}</i></div>
      </div>
      <!--END OF Geospatial Search Panel-->

      <!--BEGINNING OF Display Spellcheck-->
      <div class="panel panel-default" style="margin: 0px; padding: 20px;"
           ng-show="lw.spellcheck_enabled && spellcheck_results.length>0">
        <label>Spellcheck&nbsp;</label>
     <span ng-repeat="spell in spellcheck_results track by $index">
        <a class="label label_lw" ng-click="reDoSearch(spell.value);">{{spell.label}}</a>&nbsp;
     </span>
      </div>
      <!--END OF Display Spellcheck-->

      <!--BEGINNING OF Query Info Display-->
      <div class="panel panel-default" style="margin: 0px; padding: 20px;"
           ng-if="lw.query_info_enabled && isValueDefined(data.debug.querystring)">
        <div>
          <label class="searchUI_color">Query String&nbsp;</label>
          {{data.debug.querystring}}
        </div>
        <div ng-if="isValueDefined(data.debug.filter_queries)">
          <label class="searchUI_color">Filtered Queries&nbsp;</label>
          {{data.debug.filter_queries}}
        </div>
      </div>
      <!--END OF Selective Info Display-->

      <!--BEGINNING OF Lucidworks UI options-->
      <!--This section is rather long.   Look for "END OF" to determine end of section-->
      <div id="uiOptions" role="tabpanel" class="collapse" aria-expanded="false" style="position: relative; height: 0; margin: 0; padding: 20px;"
           ng-mouseleave="showDemoActionsTip=false; showSpellcheckTip=false; showTypeAheadTermsTip=false; showTypeAheadSuggesterTip=false;">

        <!--BEGINNING OF Fusion options section - 1st row-->
        <div class="input-group">
          <label>Fusion Options</label>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">Pipeline</button>
              </div>
              <select class="form-control" ng-model="lw.pipename" ng-change="doPipelineChange()" ;>
                <option class="form-control" ng-repeat="option in lw.pipelineIds" value="{{option}}">{{option}}</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">Request Handler</button>
              </div>
              <select class="form-control" ng-model="lw.requestHandler" ng-change="doRequestHandlerChange()" ;>
                <option class="form-control" ng-repeat="option in lw.requestHandlers" value="{{option}}">{{option}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!--END OF Fusion options section - 1st row-->

        <!--BEGINNING OF Fusion options section - 2nd row-->
        <div class="row" style="padding-top: 10px;">
          <div class="col-xs-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">Minimum Match</button>
              </div>
              <select class="form-control" ng-model="lw.mm" ng-change="doMmChange()" ;>
                <option class="form-control" ng-repeat="option in lw.mm_options" value="{{option.value}}">
                  {{option.label}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">Addl Params</button>
              </div>
              <input type="text" class="form-control" ng-model="lw.addl_params">
            </div>
          </div>
        </div>
        <!--END OF Fusion options section - 2nd row-->

        <!--BEGINNING OF Fusion options section - 3rd row-->
        <div class="row" style="padding-top: 10px;">
          <div class="col-xs-3">
            <div class="input-group">
              <label class="btn btn-default">
                <input type="checkbox" ng-model="lw.demo_actions_enabled" ng-mouseover="showDemoActionsTip=true"> Demo
                Actions
              </label>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">Signal Num</button>
              </div>
              <input type="text" class="form-control" ng-model="lw.signalNum">
            </div>
          </div>
        </div>
        <div class="bg-info text-sm" style="padding: 10px;" ng-show="showDemoActionsTip"><i>
          Enable "Demo Actions" if you want to submit clicks and/or edit field values.<br/>
          When you click an item head field, {{lw.signalNum}} clicks will be submitted instead of the normal click
          action.<br/>
          Field edit is enabled for single-value fields only.</i>
        </div>
        <!--END OF Fusion options section - 3rd row-->

        <!--BEGINING OF Fusion options section - 4th row-->
        <div class="row" style="padding-top: 10px;">
          <div class="col-xs-3">
            <div class="input-group">
              <label class="btn btn-default">
                <input type="checkbox" ng-model="lw.query_info_enabled"> Query Info
              </label>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="input-group">
              <label class="btn btn-default">
                <input type="checkbox" ng-model="lw.stats_enabled"> Stats
              </label>
            </div>
          </div>
        </div>
        <!--END OF Fusion options section - 4th row-->

        <!--BEGINNING OF Fusion options section - 5th row-->
        <div class="row" style="padding-top: 10px;">
          <div class="col-xs-4">
            <div class="input-group">
              <label class="btn btn-default">
                <input type="checkbox" ng-model="lw.search_within_results_enabled"> Search Within Results
              </label>
            </div>
          </div>
        </div>
        <!--END OF Fusion options section - 5th row-->

        <!--BEGINING OF Fusion options sections - Spellcheck options-->
        <div class="row" style="padding-top: 10px;">
          <div class="col-xs-9">
            <div class="input-group">
              <div class="input-group-btn">
                <label class="btn btn-default">
                  <input type="checkbox" ng-model="lw.spellcheck_enabled" ng-mouseover="showSpellcheckTip=true">
                  Spellcheck Dictionary
                </label>
              </div>
              <input type="text" class="form-control" ng-model="lw.spellcheck_dictionary">
            </div>
          </div>
        </div>
        <div class="bg-info text-sm" style="padding: 10px;" ng-show="showSpellcheckTip"><i>
          Before using spellcheck, please make sure a spellcheck dictionary is configured in solrconfig.xml.<br/><br/>
          When enabled, spellcheck will trigger when a user get 0 results for his search.<br/><br/>
          If you change your spellcheck request handler and/or index new data, please rebuild your spellcheck
          dictionary.</i>
        </div>
        <!--END OF Fusion options sections - Spellcheck options-->

        <hr/>

        <!--BEGINNING OF Typeahead - AutoComplete options section-->
        <div class="input-group">
          <label>AutoComplete Mechanisms</label>
        </div>
        <!--BEGINNING OF UI Options Terms mechanism-->
        <div class="row">
          <div class="col-xs-9">
            <div class="input-group">
              <div class="input-group-btn">
                <label class="btn btn-default" style="text-align: left; width: 180px;">
                  <input type="checkbox" ng-model="lw.typeahead_terms_enabled"
                         ng-mouseover="showTypeAheadTermsTip=true"> Terms Field(s)
                </label>
              </div>
              <input type="text" class="form-control" ng-model="lw.typeahead_terms_fl">
            </div>
          </div>

          <div class="col-xs-3">
            <div class="input-group">
              <div class="input-group-btn">
                <label class="btn btn-default">
                  <input type="checkbox" ng-model="lw.field_fq_enabled" ng-mouseover="showTypeAheadTermsTip=true">
                  Include Fields
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="bg-info text-sm" style="padding: 10px;" ng-show="showTypeAheadTermsTip"><i>
          Please specify 1 or more fields separated by comma to be use with the terms requestHandler.<br/><br/>
          Enable "Include Field" if you want the typeAhead to populate the search box with field:"{suggestion}" instead
          of just {suggestion}</i>
        </div>
        <!--END OF UI Options Terms mechanism-->

        <!--BEGINNING OF UI Options Suggester1 mechanism-->
        <div class="row" style="padding-top: 10px;"
             ng-show="lw.typeahead_suggester1_enabled || lw.typeahead_suggester1_dictionary">
          <div class="col-xs-9">
            <div class="input-group">
              <div class="input-group-btn">
                <label class="btn btn-default" style="text-align: left; width: 180px;">
                  <input type="checkbox" ng-model="lw.typeahead_suggester1_enabled"
                         ng-mouseover="showTypeAheadSuggesterTip=true"> Suggester1 Dictionary
                </label>
              </div>
              <input type="text" class="form-control" ng-model="lw.typeahead_suggester1_dictionary">
            </div>
          </div>

          <!--
                <div class="col-xs-3">
                  <div class="input-group">
                    <div class="input-group-btn" ng-mouseover="showTypeAheadSuggesterTip=true">
                      <button type="button" class="btn btn-default" ng-click="doRebuildSuggester();">Rebuild</button>
                    </div>
                    <mark ng-show="rebuildSuggesterStatus" class="small" style="margin-left: 10px; padding: 5px;"><i>{{rebuildSuggesterStatus}}</i></mark>
                  </div>
                </div>
          -->

        </div>
        <!--END OF UI Options Suggester1 mechanism-->

        <!--BEGINNING OF UI Options Suggester2 mechanism-->
        <div class="row" style="padding-top: 10px;"
             ng-show="lw.typeahead_suggester2_enabled || lw.typeahead_suggester2_dictionary">
          <div class="col-xs-9">
            <div class="input-group">
              <div class="input-group-btn">
                <label class="btn btn-default" style="text-align: left; width: 180px;">
                  <input type="checkbox" ng-model="lw.typeahead_suggester2_enabled"
                         ng-mouseover="showTypeAheadSuggesterTip=true"> Suggester2 Dictionary
                </label>
              </div>
              <input type="text" class="form-control" ng-model="lw.typeahead_suggester2_dictionary">
            </div>
          </div>
        </div>
        <div class="bg-info text-sm" style="padding: 10px;" ng-show="showTypeAheadSuggesterTip"><i>
          Before using these suggesters, please configure these suggester dictionaries in solrconfig.xml 1st.<br/><br/>
          If you change your suggester dictionaries and/or index new data, please rebuild your suggester dictionaries.
        </i>
        </div>
        <!--END OF UI Options Suggester2 mechanism-->

        <!--BEGINNING OF UI Options logs collection mechanism-->
        <div class="row" style="padding-top: 10px;">
          <div class="col-xs-12">
            <div class="input-group">
              <div class="input-group-btn">
                <label class="btn btn-default" style="text-align: left; width: 180px;"><input type="checkbox"
                                                                                              ng-model="lw.typeahead_logs_collection_enabled">
                  Logs Collection</label>
              </div>
              <input type="text" class="form-control" ng-model="lw.typeahead_logs_collection">
            </div>
          </div>
        </div>
        <!--END OF UI Options logs collection mechanism-->

        <!--BEGINNING OF UI Options signals collection mechanism-->
        <div class="row" style="padding-top: 10px;">
          <div class="col-xs-12">
            <div class="input-group">
              <div class="input-group-btn">
                <label class="btn btn-default" style="text-align: left; width: 180px;"><input type="checkbox"
                                                                                              ng-model="lw.typeahead_signals_collection_enabled">
                  Signals Collection</label>
              </div>
              <input type="text" class="form-control" ng-model="lw.typeahead_signals_collection">
            </div>
          </div>
        </div>
        <!--END OF UI Options signals collection mechanism-->

      </div>
      <!--END OF Typeahead - AutoComplete options section-->

      <!--BEGINNING OF Results summary-->
      <div ng-if="data.response.numFound >= 0" style="margin-top: 2px;" class="row">
        <div class="searchUI_color col-md-6">{{data.response.numFound}} items found in {{data.responseHeader.QTime}} ms&nbsp;
<!--
          <select ng-model="lw.sort_by" ng-change="doSearch(0)">
            <option value="default">Sort by Relevance</option>
            <option value="{{lw.head_field}}">Sort by {{lw.head_field}}</option>
            <option value="distance" ng-show="lw.geofield">Sort by Distance</option>
          </select>
          <select ng-hide="lw.sort_by == 'default'" ng-model="lw.sort_order" ng-change="doSearch(0)">
            <option value="asc">ascending</option>
            <option value="desc">descending</option>
          </select>
-->
        </div>

        <div class="col-md-6 text-right" style="padding-right: 61px;">
          <span ng-show="lw.geofield" ng-click="toggle_geo_enabled();"><span
            class="glyphicon glyphicon-globe"></span></span>
          <span ng-click="clearSearchBox();">Clear</span>&nbsp;|&nbsp;
          <span ng-show="lw.UIOptions_enabled"
                data-toggle="collapse"
                data-target="#uiOptions"
                aria-expanded="false"
                role="button"
                class="collapsed">
            Settings <!--<span class="glyphicon glyphicon-cog"></span>-->
          </span>
        </div>
      </div>
      <!--END OF Results summary-->


    </div>
    <div class="col-xs-4 col-md-3 col"></div>
  </div>

  <div class="row">

    <div id='leftColEl' class="col-xs-4 col-md-3 col">

      <div style="padding-bottom: 20px;" ng-hide="facet_fields_count">
        <img style="border-radius: 4px; border: 1px solid; width: 98%; border-color: rgb(221, 221, 221);"
             src="extras/cart.png" title="{{lw.facet_panel_image}}"/>
      </div>

      <!--BEGINNING OF stats-->
      <!--BEGINNING OF Top Ten Searches-->
      <accordion ng-init="getTopTenSearches();" ng-if="lw.stats_enabled">
        <accordion-group is-open="isFacetFilterOpen"> <!--Using accordion UI element, with accordion open initially-->
          <accordion-heading>
            <span>Top 10 Searches</span>
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': isFacetFilterOpen, 'glyphicon-chevron-right': !isFacetFilterOpen}"></i>
          </accordion-heading>
          <ol xstyle="list-style: decimal inside;">
        <span ng-repeat="query in top_ten_searches">
          <li><a class="searchUI_color" ng-click="reDoSearch(query.value)">{{query.label}}</a></li>
        </span>
          </ol>
        </accordion-group>
      </accordion>
      <!--END OF Top Ten Searches-->

      <!--BEGINNING OF Top Ten Docs-->
      <accordion ng-init="getTopTenDocs();" ng-if="lw.stats_enabled">
        <accordion-group is-open="isFacetFilterOpen"> <!--Using accordion UI element, with accordion open initially-->
          <accordion-heading>
            <span>Top 10 Clicked Items</span>
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': isFacetFilterOpen, 'glyphicon-chevron-right': !isFacetFilterOpen}"></i>
          </accordion-heading>
          <ol xstyle="list-style: decimal inside;">
        <span ng-repeat="query in top_ten_docs">
          <li><a class="searchUI_color"
                 ng-click="doTopTenDocsAction(query.id,query[lw.head_field],lw.head_url_field,query[lw.head_url_field]);">{{query.label}}</a>
            <span class="glyphicon glyphicon-info-sign small" ng-click="doc_details(query.id);"></span></li>
        </span>
          </ol>
        </accordion-group>
      </accordion>
      <!--END OF Top Ten Docs-->
      <!--END OF stats-->

      <!--BEGINNING OF facet_fields display-->
      <div class="list-group table-of-contents" id="accordion">
        <div ng-repeat="(facet, values) in facet_fields">
          <a class="list-group-item"
             role="button"
             data-parent="#accordion"
             data-toggle="collapse"
             data-target="#collapseOne"
             aria-expanded="true"
             ng-bind-html="returnMappedLabel(facet);"></a>
          <div id="collapseOne" class="collapse in" role="tabpanel">
            <div ng-show="!shortList && values.length>10" class="form-group" style="padding: 0 15px;">
              <input type="text" class="form-control" placeholder="Filter values" ng-model="query"/>
              <span class="glyphicon glyphicon-filter form-control-feedback"></span>
            </div>
            <ul class="list-unstyled data-links" ng-class="{'scroll-div': !shortList}" style="padding:0;">
              <li ng-repeat="facetItem in values | filter:query track by $index" style="padding:2px 10px 2px 5px">
                <input ng-click="updateFq(facetItem.checked,facetItem.fq)" ng-checked="facetItem.checked"
                       type="checkbox"/>
                <span>{{facetItem.label}}</span>
              </li>
            </ul>
          </div>

        </div>

      </div>
      <!--END OF facet_fields display-->

    </div>
    <!--END OF left column-->

    <!--BEGINNING OF Main column.  This is where we display search box and results -->
    <div id="centerColEl" class="col-xs-8 col-md-6 col">

      <!--BEGINNING OF Display search results-->
      <!--Here we loop thru each doc in the data.response via ng-repeat-->
      <div ng-repeat="doc in data.response.docs" ng-class-odd="'odd'" ng-class-even="'even'">

        <!--BEGINNING OF doc row.  Alternating background shading-->
        <div class="row" style="padding-left: 20px; padding-bottom: 10px;">

          <!--If there is a thumbnail, then it will take up a column of 3-->
          <div class="col-xs-3" style="padding-top: 10px !important;" ng-if="lw.thumbnail_enabled">
            <img class="thumbnail" width="120px"
                 style="background-color: transparent !important; border-color: transparent !important; border-width: 0px !important; max-height: 250px; padding: 0px; margin: 0px;"
                 ng-if="lw.thumbnail_field" ng-src="{{getThumbnailUrl(doc[lw.thumbnail_field])}}"/>
          </div>

          <!--BEGINNING OF display column for doc-->
          <div ng-class="{'col-xs-9': lw.thumbnail_enabled, 'col-xs-12': !lw.thumbnail_enabled}"
               style="padding-left:0px !important; margin: 0px !important;">

            <h4>
              <!--Display doc head field value-->
              <a class="searchUI_color"
                 ng-click="doHeadFieldAction(doc.id,doc[lw.head_field],lw.head_url_field,doc[lw.head_url_field]);">{{displayHeadField(doc[lw.head_field])}}</a>
              <!--Icon to get doc details-->
              <mark ng-show="actionStatus[doc.id]" class="small" style="margin-left: 10px; padding: 5px;"><i>{{actionStatus[doc.id]}}</i>
              </mark>
            </h4>

            <!--BEGINNING OF Loop thru each field for a doc via ng-repeat-->
        <span ng-repeat="field in fields track by $index" ng-if="field!=lw.head_field">
          <div ng-if="lw.always_display_field || isValueDefined(doc[field])" ng-init="value=returnValue(doc[field])">
            <b ng-bind-html="returnMappedLabel(field);"></b>:
            <span ng-show="!showFieldEdit" ng-init="orig_value = value">
              <!--Display field value, truncated to 50 characters-->
              <span>{{value | limitTo: 50 }}{{value.length > 50 ? '...' : ''}}</span>
              <!--Display pencil icon when demo actions is enabled-->
              <span class="glyphicon glyphicon-pencil"
                    ng-show="lw.demo_actions_enabled && field!='id' && field!='score' && isValueNotAnObject(doc,field,value)"
                    ng-click="showFieldEdit=true;"></span>
            </span>

            <!--Display field update capability when enabled-->
            <span ng-show="lw.demo_actions_enabled && showFieldEdit && field!='id'">
              <input type="text" ng-model="value"></input>
              <span class="glyphicon glyphicon-floppy-disk"
                    ng-click="doFieldUpdate(doc.id,field,value,orig_value);"></span>
            </span>

            <!--This mark section is placeholder for any status I want to display when user hit "save" icon on field value update-->
            <mark ng-show="actionStatus[doc.id + field]" class="text" style="margin-left: 20px; padding: 5px;"><i>{{actionStatus[doc.id
              + field]}}</i></mark>
          </div>
        </span>
            <!--END OF Loop thru each field for a doc-->

            <!--Display "special" distance value if available-->
            <div ng-if="isValueDefined(doc['distance'])"><b>Distance</b>: {{doc['distance']}} miles</div>

            <!--Display "special" boost value if available-->
            <div class="searchUI_color" ng-if="isValueDefined(boost[doc.id])"><i><b>signal boost: {{boost[doc.id]}}</b></i>
            </div>

            <!--Display score value if available-->
            <div ng-if="isValueDefined(doc['score'])"><b>Score</b>: {{doc.explain.value}}&nbsp; </div>

          </div>
          <!--END OF display column for doc-->
        </div>
        <!--END OF a doc row-->
      </div>
      <!--END OF Display search results-->

      <!--BEGINNING OF Provide navigation between each page of results-->
      <nav ng-if="data.response.numFound > 0">
        <ul class="pagination">
          <li>
            <a href ng-click="!(currentPage==1) && doSearch(start-pageSize)">&laquo;</a>
          </li>
          <li ng-repeat="pageNum in showPages track by $index" ng-class="{active: $index+1==currentPage}">
            <a href ng-click="doSearch(pageSize*$index)">{{$index+1}}</a>
          </li>
          <li ng-show="!loading">
            <a href ng-click="doSearch(currentPage*pageSize)">&raquo;</a>
          </li>
        </ul>
      </nav>
      <!--END OF Provide navigation between each page of results-->

      <!--BEGINNING OF Provide links to raw JSON response-->
      <a ng-show="isValueDefined(data.responseHeader)" class="small searchUI_color"
         ng-click="showResponseHeader = !showResponseHeader; showResponse = false; showDebug = false;"
         href="javascript:void(0);">View JSON ResponseHeader</a>
      <span ng-show="isValueDefined(data.responseHeader)"> | </span>
      <a ng-show="isValueDefined(data.response)" class="small searchUI_color"
         ng-click="showResponse = !showResponse; showResponseHeader = false; showDebug = false;"
         href="javascript:void(0);">View JSON Response</a>
      <span ng-show="isValueDefined(data.debug)"> | </span>
      <a ng-show="isValueDefined(data.debug)" class="small searchUI_color"
         ng-click="showDebug = !showDebug; showResponseHeader = false; showResponse = false;"
         href="javascript:void(0);">View Debug</a>
      <div ng-show="showResponseHeader" class="showResponse">{{data.responseHeader | json}}</div>
      <div ng-show="showResponse" class="showResponse">{{data.response | json}}</div>
      <div ng-show="showDebug" class="showResponse">{{data.debug | json}}</div>
      <!--END OF Provide links to raw JSON response-->

    </div>
    <!--END OF Main column-->

    <div id='rightColEl' class="col-md-3 col-sm-12 col">

      <!--APPLICABLE RULES-->
      <div class="well well-sm well-transp well-outline {{data.fusion.applicable_rules && 'showrules' || 'hidden' }}"  id="rules-sidebar">
        <p class="small text-nowrap text-muted mt-5 well-title">
          <span>{{data.fusion.applicable_rules.length}}</span> of <span>{{data.fusion.applicable_rules.length}}</span> applicable rules
          <a data-toggle="collapse" data-target="#rules-filters-side-panel"
             class="btn btn-lg btn-link pull-right"><i class="mi-filter_list"></i></a>
          <a data-toggle="collapse" data-target="#rules-quick-search-side-panel"
             class="btn btn-lg btn-link pull-right"><i class="fa fa-search"></i></a>
        </p>

        <!-- rules quick search -->
        <div class="well-holder collapse" id="rules-quick-search-side-panel">
          <div class="well">
            <div class="form-group mb-0">
              <input type="text" class="form-control input" data-input="quick-search"
                     data-search-target="#rules-list-sidebar > a" name="quick-search"
                     placeholder="Enter name of search rule" ng-model="rulesQuery"/>
              <span class="glyphicon glyphicon-remove-circle form-control-feedback form-action-clear"
                    aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <!-- /.rules quick search -->

        <!-- side-filters-panel -->
        <div class="well-holder collapse" id="rules-filters-side-panel">
          <div class="well">
            <ul class="list-unstyled with-states">
<!--              <li>
                <div class="row hor-gut-10">
                  <div class="col-xs-6">
                    <label for="sideFilterStart" class="small text-muted text-uppercase">Start</label>
                    <div class="datepicker-holder">
                      <input type="text" class="form-control" id="rulesSideFilterStartDateVal" value="06/20/2016"/>
                      <input type="text" class="form-control small" id="rulesSideFilterStartTimeVal"
                             value="10:00 AM"/>
                      <input type='text' class="form-control datepicker" id="rulesSideFilterStart"
                             placeholder="Select start date"/>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <label for="sideFilterEnd" class="small text-muted text-uppercase">End</label>
                    <div class="datepicker-holder">
                      <input type="text" class="form-control" id="rulesSideFilterEndDateVal" value="06/23/2016"/>
                      <input type="text" class="form-control small" id="rulesSideFilterEndTimeVal"
                             value="12:00 AM"/>
                      <input type='text' class="form-control datepicker" id="rulesSideFilterEnd"
                             placeholder="Select end date"/>
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <label for="filterStatus" class="small text-muted text-uppercase">Staus</label>


                <div class="btn-group btn-group-justified" data-toggle="buttons" id="filterStatus">
                  <label class="btn btn-link">
                    <input type="radio" name="options" id="option1" autocomplete="off">Active
                  </label>
                  <label class="btn btn-link active">
                    <input type="radio" name="options" id="option2" autocomplete="off" checked>N/A
                  </label>
                  <label class="btn btn-link">
                    <input type="radio" name="options" id="option3" autocomplete="off">Inactive
                  </label>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <label for="filterTags" class="small text-muted text-uppercase">Tags</label>
                &lt;!&ndash; <div class="btn-group btn-group-justified" role="group" id="filterActuality">
                   <a class="btn btn-sm btn-link" href="#">Enabled</a>
                   <a class="btn btn-sm btn-link" href="#">Disabled</a>
                </div> &ndash;&gt;
              </li>
              &lt;!&ndash; <ul class="with-states list-unstyled tags" id="filterTags"> &ndash;&gt;
              <li>
                <div class="checkbox checkbox-right">
                  <label>
                    <input type="checkbox">
                       <span class="text-overflow">
                          <i class="fa fa-tag text-muted-light"></i>
                          Simulation Simulation Simulation Simulation Simulation
                       </span>
                  </label>
                </div>
              </li>
              <li>
                <div class="checkbox checkbox-right">
                  <label>
                    <input type="checkbox">
                       <span class="text-overflow">
                          <i class="fa fa-tag text-muted-light"></i>
                          Tag #2
                       </span>
                  </label>
                </div>
              </li>
              <li>
                <div class="checkbox checkbox-right">
                  <label>
                    <input type="checkbox">
                       <span class="text-overflow">
                          <i class="fa fa-tag text-muted-light"></i>
                          Other tag
                       </span>
                  </label>
                </div>
              </li>
              <li class="divider"></li>-->
              <li>
                <!--<div class="tagsSummary"></div>-->
                <div id="includeExcludeWrapper">
                  <!-- TODO ::  wire this up to change how rules are processed-->
                  <label class="floatLeft"><input type="radio" id='include' value='include' name="incexc" checked="true">include...</label>
                  <label class="floatRight"><input type="radio" id='exclude' value='exclude' name="incexc">exclude...</label>
                </div>
                <div id="tagsFilterWrapper" class="include"
                     ng-repeat="f in data.fusion.applicable_rules_data.facet_counts.facet_fields.tags track by $index"
                     ng-if="($index % 2) == 0">

                  <button class='btn col-md-12 tagsButton btn-default {{f}}'
                          type='button'
                          data-facet_label='{{data.fusion.applicable_rules_data.facet_counts.facet_fields.tags[$index]}}'
                          ng-click="updateTagsFilter(f)"
                  >
                    {{data.fusion.applicable_rules_data.facet_counts.facet_fields.tags[$index]}}
                    ({{data.fusion.applicable_rules_data.facet_counts.facet_fields.tags[$index+1]}} /
                    {{data.fusion.applicable_rules_data.facet_counts.facet_fields.drill_down_tags[$index+1]}})
                  </button>
                </div>
                <div id="tagsFilterFooterWrapper" class="panel-footer">

                </div>

              </li>
              <!-- </ul> -->
              <li class="divider"></li>
              <li>
                <div class="btn-group btn-group-justified" id="apply-rules-filters-side-panel">
                  <a data-toggle="collapse" data-target="#rules-filters-side-panel" class="btn btn-sm btn-link"><i
                    class="fa fa-times"></i>Cancel</a>
                  <a data-toggle="collapse" data-target="#rules-filters-side-panel"
                     class="btn btn-sm btn-default"><i class="fa fa-check"></i> Apply</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.side-filters-panel -->

        <div class="list-group list-group-no-outline mb-0" id="rules-list-sidebar">
          <div ng-repeat="rule in data.fusion.applicable_rules | filter: { id: rulesQuery } track by $index">
            <a class="list-group-item collapse-by-icon"
               data-toggle="collapse" aria-expanded="false" data-parent="#rules-sidebar"
               data-target="#{{rule.id}}">
                 <span class="pull-right">
                    <i class="fa fa-angle-down"></i>
                    <i class="fa fa-angle-up"></i>
                 </span>
                 <span class="text-overflow">
                   <i ng-click="updateRules($event, rule)"
                      ng-model="(data.fusion.applicable_rules)"
                      class="status bg-inactive mr-5"></i>
                    {{rule.id}}
                 </span>
            </a>
            <div id="{{rule.id}}" aria-expanded="false" class="collapse list-group-item-content">
              <ul class="list-unstyled">

                <!-- RULE ACTIONS -->
                <li>
                  <label class="small text-muted text-uppercase"><span ng-if="rule.field_values"> {{rule.field_name.join(', ')}} </span>{{rule.display_type.toString()}}</label>

                  <span ng-if="rule.values">{{rule.values.join(', ')}}</span>
                  <span ng-if="rule.field_values">{{rule.field_values.join(', ')}}</span>
                  <div class="form-group" ng-if="rule.param_keys"
                       ng-repeat="param in rule.param_keys track by $index">
                    <span class="set-params">{{rule.param_keys[$index]}}</span>
                    <span class="set-params">{{rule.param_values[$index]}}</span>
                    <span class="set-params addTriggerCategory">{{rule.param_policies[$index]}}</span>
                  </div>
                </li>

                <!-- Trigger Date and Time -->
                <li class="col-xs-5" ng-repeat="ruleDate in ruleArrays[rule.id].dates[0] track by $index">
                  <div class="form-group datepicker-inline trigger-date">
                    <label for="triggerStart" class="small text-muted text-uppercase">Start</label>
                    <div class="datepicker-holder">
                      <input type='text' class="form-control  trigger-start disabledControl" id="triggerStart"
                             ng-model="ruleArrays[rule.id].dates[0][$index]"/>
                    </div>
                  </div>
                  <div class="form-group datepicker-inline trigger-date">
                    <label for="triggerEnd" class="small text-muted text-uppercase">End</label>
                    <div class="datepicker-holder">
                      <input type='text' class="form-control  trigger-end disabledControl" id="triggerEnd"
                             ng-model="ruleArrays[rule.id].dates[1][$index]"/>
                    </div>
                  </div>
                </li>
                <!-- Trigger Types -->
                <li class="form-group" ng-if="rule.search_terms[0]">
                  <label class="small text-muted text-uppercase">Keywords</label>
                  <span class="triggerKeywords">{{rule.search_terms[0]}}</span>
                </li>
                <li class="form-group"
                    ng-repeat="caregory in ruleArrays[rule.id].filters[0] track by $index">
                  <label class="small text-muted text-uppercase">Field Value</label>
                  <select class="form-control addTriggerCategory disabledControl"
                          ng-model="ruleArrays[rule.id].filters[0][$index]">
                    <option ng-repeat="(value, caption) in productList" value="{{value}}">{{caption}}</option>
                  </select>
                  <input class="form-control disabledControl triggerCategory"
                         ng-model="ruleArrays[rule.id].filters[1][$index]"/>
                </li>
                <li class="form-group" ng-if="rule.tags">
                  <label class="small text-muted text-uppercase">Tags</label>
                  <span class="triggerTags">{{rule.tags.join(', ')}}</span>
                </li>

                <!--                     RULE TRIGGER
                                    <li>
                                      <div class="form-group">
                                        <label for="triggerCategory" class="small text-muted text-uppercase">Category</label>
                                        <span class="readonly">Category #1, Category #2</span>
                                      </div>
                                    </li>
                                     /. RULE TRIGGER

                                     RULE PERIOD
                                    <li>
                                      <div class="row hor-gut-10">
                                        <div class="col-sm-6 form-group">
                                          <label for="triggerStart" class="small text-muted text-uppercase">Start</label>
                                          <div class="datepicker-holder">
                                            <input type="text" class="form-control" id="triggerStartDate" value="06/20/2016" disabled />
                                            <input type="text" class="form-control small" id="triggerStartTime" value="10:00 AM" disabled />
                                          </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                          <label for="triggerEnd" class="small text-muted text-uppercase">End</label>
                                          <input type="text" class="form-control" id="triggerEndDate" value="06/23/2016" disabled />
                                          <input type="text" class="form-control small" id="triggerEndTime" value="12:00 AM" disabled />
                                        </div>
                                      </div>
                                    </li>
                                     /.RULE PERIOD

                                     RULE ACTION
                                    <li>
                                      <div class="form-group">
                                        <label for="actionRedirect" class="small text-muted text-uppercase">Redirect</label>
                                        <input type="text" class="form-control" id="actionRedirect" value="/screens/touch-technology"  disabled>
                                      </div>
                                    </li>
                                     /.RULE ACTION -->
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!--BANNERS-->
      <div class="panel panel-default {{data.fusion.banner && 'showbanners' || 'hidden' }}">
        <div class="panel-heading">BANNERS</div>
        <div class="panel-body">
          <ul ng-repeat="banner in data.fusion.banner">
            <li>{{banner}}</li>
          </ul>
        </div>
      </div>

      <!--LANDING PAGES-->
      <div class="panel panel-default {{data.fusion['landing-pages'] && 'showlp' || 'hidden' }}">
        <div class="panel-heading">LANDING PAGES</div>
        <div class="panel-body">
          <ul ng-repeat="lp in data.fusion['landing-pages']">
            <li><a href="{{lp}}">{{lp}}</a></li>
          </ul>
        </div>
      </div>

    </div>

    <!--BEGINNING OF This script is a html template, used to control look & feel of typeahead (autocomplete suggestions)-->
    <script type="text/ng-template" id="q_typeahead.html">
      <a>
        <span ng-bind-html="match.model.display_value | typeaheadHighlight:query"></span>&nbsp;
        <mark class="bg-info" style="padding-left: 10px;padding-right: 10px;"><em>{{match.model.helper}}</em></mark>
      </a>
    </script>
    <!--END OF This script is a html template, used to control look & feel of typeahead (autocomplete suggestions)-->
  </div>
</div>
