<!--
  Using the HTML based document template

  It is possible to alter the results you return by
  editing this document.

  You can use angular brackets {{}} to output the results
  you want within the document. For example if you wanted to
  output a field named title in on the document, you can add it by
  adding the following somewhere in the markup:
  {{vm.doc.title[0]}}

  The document root is located at vm.doc
  the field name 'title' gets that field.
  [0] gets the first item in the array. Which is fine if you only
  expect one item in that result.

  To show multiple items from a single field, you could try adding something
  like the following with your own field name.
  <div>
    <h5>categories:</h5>
    <ul>
      <li ng-repeat="category in vm.doc.category">{{category}}</li>
!--     </ul>
  </div>
  This would create a title categories and then make a bulleted list of
  every category in that result.
 -->
<article class="grid-block document-infoblox row">
  <div class="image small-4 medium-2 grid-content" ng-class="::{hide:!vm.doc.lw_image}">
    <div zf-interchange="">
      <img media="small" ng-src="{{::vm.doc.lw_image}}">
    </div>
  </div>

  <div class="detail-row vertical grid-content" ng-class="::{'small-8':vm.doc.lw_image, 'medium-10': vm.doc.lw_image, 'small-12':!vm.doc.lw_image}">
    <!-- {{vm.doc}} -->
      <!-- show head field linked with a url. -->
      <div class="title large-106">

          <!-- show head field when we have no url. -->
        <a ng-click="vm.postClickSignal(this, doc.id, $index, doc.score)" rel="noopener"
           target="document">
          <field value="::vm.doc.Title" highlight="::vm.highlight[vm.doc.id]" maxlength="300" hkey="Title"></field>
          &nbsp;/&nbsp;<field value="::vm.doc.serial_number_s" highlight="::vm.highlight[vm.doc.id]" maxlength="300" hkey="serial_number_s"></field>
        </a>
      </div>

      <!-- show description fields -->
      <div class="fields">
          <div class="large-10 xlarge-7 xx-large-6">
            <field value="::vm.doc.Description" highlight="::vm.highlight[vm.doc.id]" maxlength="300" hkey="Description"></field>
          </div>
      </div>
      <div class="date-block">
        <span class="date-time" ng-if="::vm.doc.Updated"><span class="doc-label"> Modified:</span>&nbsp;<field value="::vm.doc.Updated_dtFormatted"></field></span>
        <span class="date-time" ng-if="::vm.doc.Created"><span class="doc-label"> Created:</span>&nbsp;<field value="::vm.doc.Created_dtFormatted"></field></span>
      </div>
      
    <div ng-if="false">
      <!-- Output of CONFIG BASED FIELD DISPLAY -->
      <p ng-repeat="(field, value) in vm.doc.fieldsToDisplay">
        
        <span><strong>{{::field}}:	&nbsp;  </strong></span>

        <field value="::value" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="{{field}}"></field>

      </p>
     </div>
  </div>
</article>
