<span zf-action-sheet="" ng-if="::(vm.sortOptions.length > 1)">
  <zf-as-button>
    <span class="button secondary" style="margin: 0;">Sort <img zf-iconic="" icon="arrow_down" data-direction="top" size="small" /></span>
  </zf-as-button>
  <span zf-as-content="" position="bottom"><ul class="block-list">
    <li ng-repeat="sort in ::vm.sortOptions">
      <input type="radio" id="{{::(sort.label + sort.order)}}" ng-value="sort" ng-model="vm.selectedSort">
      <label for="{{::(sort.label + sort.order)}}">{{sort.label}}<span ng-if="sort.order">&nbsp;{{sort.order}}</span></label>
    </li>
  </ul></span>
</span>
