@import "document_default/document_default";
@import "document_file/document_file";
@import "document_jira/document_jira";
@import "document_slack/document_slack";
@import "document_twitter/document_twitter";
@import "document_web/document_web";
// @import "document_EXAMPLE/document_EXAMPLE";
.document {
  //Style your document here
  .head-field{
    display: inline;
  }
  .hide {
    display: none;
  }

  .source-verified {
    color: #1ca3fc;
    .architizer-glyphs {
      color: inherit;
      font-size: 36px;
      line-height: 1;
      position: relative;
      top: 6px;
    }
    .pro {
      color: inherit;
      line-height: 1;
      font-size: 14px;
      padding-left: 4px;
    }

  }

  .grid-content:not(:first-child) {
    padding-left: 10px;
  }

  .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Add a dividing line after each document
.document::after {
  content: "";

  height: 2px;
  background: #eee;
  width: 100%;
}
