@import "document_default/document_default";
@import "document_file/document_file";
@import "document_jira/document_jira";
@import "document_slack/document_slack";
@import "document_twitter/document_twitter";
@import "document_web/document_web";


//add imports for any new scss files used by custom templates
@import "document_installbase/document_installbase";
@import "document_rightnow_incident/document_rightnow_incident";
@import "document_rightnow_knowledge/document_rightnow_knowledge";
@import "document_engwiki/document_engwiki";
@import "document_infoblox_jira/document_jira";

// @import "document_EXAMPLE/document_EXAMPLE";
.document {
  //Style your document here
  .head-field{
    display: inline;
  }
  .hide {
    display: none;
  }

}

/*
* all infoblox custom templates should have document-infoblox at the top
*/
.document-infoblox {
  margin-bottom: .75rem;
  .detail-row{
    /* top, right, bottom, left*/
    padding: .5rem 0, .5rem, .2rem;
  }
  .type, .key, .assignee, .lead{
    display:inline-block;
    padding-right: .25rem;
  }
  .type, .title {
    font-weight: bold;
  }
  .fields{
    padding-left: 1rem;
  }
  .doc-label{
    padding-left: 0.3rem;
  }
  .date-block{
    padding-left: 0.3rem;
  }
}


