<article class="grid-block">
  <div class="image small-4 medium-2 grid-content">
    <div zf-interchange="">
      <img media="small" ng-src="{{dc.doc.lw_image}}">
    </div>
  </div>
  <div class="detail small-8 medium-10 vertical">
    <h3 style="display:inline;">{{dc.doc.lw_head}}</h3>
    <h4 class="subheader">{{dc.doc.lw_subhead}}</h4>
    <p class="large-8 xlarge-7 xx-large-6">
      {{dc.doc.lw_description}}
    </p>
    <p ng-repeat = "(field, value) in dc.doc.fieldsToDisplay">
      <span><strong>{{field}}</strong>:{{value}}</span>
    </p>
  </div>
  <!-- {{doc}} -->
</article>
