<div class="detail jira-issue vertical grid-content">

  <h3 class="subheader">
    <a ng-href="{{::vm.doc._templateDisplayFields.id}}" ng-click="vm.postSignal({params: {lw_url: vm.doc._templateDisplayFields.id}})" rel="noopener" target="_blank">
      <field value="::vm.doc._templateDisplayFields.summary" highlight="::vm.highlight[doc._templateDisplayFields.id]" maxlength="200" hkey="{{::vm.getTemplateDisplayFieldName('summary')}}"></field>
    </a>
  </h3>

  <div class="large-8 xlarge-7 xx-large-6">
    <p ng-if="::vm.doc._templateDisplayFields.content">
      <field ng-if="::vm.doc._templateDisplayFields.content" value="vm.doc._templateDisplayFields.content" highlight="::vm.highlight[doc._templateDisplayFields.id]" maxlength="200" hkey="{{::vm.getTemplateDisplayFieldName('content')}}" ></field>
    </p>

    <div class="detail-row">
      <div class="type" ng-if="::vm.doc._templateDisplayFields.jira_content_type">
        <field value="::vm.doc._templateDisplayFields.jira_content_type" highlight="::vm.highlight[doc._templateDisplayFields.id]" maxlength="200"
             hkey="{{::vm.getTemplateDisplayFieldName('jira_content_type')}}"></field>
      </div>
      <div class="key" ng-if="::vm.doc._templateDisplayFields.parent">
        <a ng-href="{{::vm.doc._templateDisplayFields.id}}" ng-click="vm.postSignal({params: {lw_url: vm.doc._templateDisplayFields.id}})" rel="noopener" target="_blank">
          <field value="::vm.doc._templateDisplayFields.key" highlight="::vm.highlight[doc._templateDisplayFields.id]" maxlength="200" hkey="{{::vm.getTemplateDisplayFieldName('key')}}"></field>
        </a>
      </div>
      <div class="last-modified" ng-if="::vm.doc._templateDisplayFields.lastModified"><span class="doc-label">Last Modified:</span> <field value="::vm.doc._templateDisplayFields.lastModified | date"></field></div>
      <div class="assignee" ng-if="::vm.doc._templateDisplayFields.assignee"><span class="doc-label">Assigned to:</span> <field value="::vm.doc._templateDisplayFields.assignee" maxlength="200"></field></div>
    </div>
  </div>
</div>
