<div class="detail jira-issue vertical grid-content">
  <h3 class="subheader">
    <a ng-href="{{::vm.doc.id}}" ng-click="vm.postSignal(vm.doc.__signals_doc_id__)" rel="noopener" target="_blank">
      <field value="::vm.doc.summary_s" highlight="::vm.highlight" maxlength="200" hkey="summary_s"></field>
    </a>
  </h3>

  <div class="large-8 xlarge-7 xx-large-6">
    <p ng-if="::vm.doc.description_s">
      <field value="::vm.doc.description_s" highlight="::vm.highlight" maxlength="200"
             hkey="description_s"></field>
    </p>
    <div class="detail-row">
      <field ng-if="::vm.doc.jira_content_type_s" value="::vm.doc.jira_content_type_s" highlight="vm.highlight" maxlength="200"
             hkey="jira_content_type_s"></field>
      <a ng-if="::vm.doc.parent_s" ng-href="{{::vm.doc.id}}" ng-click="vm.postSignal(vm.doc.__signals_doc_id__)" rel="noopener" target="_blank">
        <field value="::vm.doc.key_s" highlight="::vm.highlight" maxlength="200" hkey="key_s"></field>
      </a>
      <span ng-if="::vm.doc.lastModified_dt">Last Modified: <field value="::vm.doc.lastModified_dtFormatted"></field></span>
      <span ng-if="::vm.doc.lead_s">Lead: <field value="::vm.doc.lead_s" maxlength="200"></field></span>
    </div>
  </div>
</div>
