ul.dropdown-menu>li input{
  float: right;
}
ul.dropdown-menu>li input#addNewTag{
  float:none;
}
.rule-name{
  font-size: 18px!important;
}
table .col-xs-5, table .col-xs-6{
  float: none;
  width: 100%;
}
.actionTextArea{
  resize: vertical!important;
}
.addTriggerCategory, .triggerCategory{
  display: inline-block;
  width: 49%;
}
.datepicker-inline{
  width: 49%;
  display: inline-block;
}
.has-error::-webkit-input-placeholder {color:#e51c23!important;}
.has-error::-moz-placeholder          {color:#e51c23!important;}
.has-error:-moz-placeholder           {color:#e51c23!important;}
.has-error:-ms-input-placeholder      {color:#e51c23!important;}

