<article class="grid-block document row">
  <div class="detail vertical grid-content">
    <field class="subheader" value="::vm.doc.id" maxlength="200"></field>
    <div class="large-8 xlarge-7 xx-large-6">
      <span ng-if="::vm.doc.length_l">
        size: <field value="::vm.doc.length_lFormatted"></field>
      </span>
      <span ng-if="::vm.doc.mimeType_s">
        mimetype: <field value="::vm.doc.mimeType_s" highlight="::vm.highlight" maxlength="200"
               hkey="mimeType_s"></field>
      </span>
      <span ng-if="::vm.doc.owner_s">
        owner: <field value="::vm.doc.owner_s" highlight="::vm.highlight" maxlength="200"
               hkey="owner_s"></field>
      </span>
      <span ng-if="::vm.doc.lastModified_dt">
        last modified: <field value="::vm.doc.lastModified_dtFormatted"></field> UTC
      </span>
     </div>
  </div>
</article>
