<article class="grid-block document row">
  <div class="detail vertical grid-content">
    <div class="large-8 xlarge-7 xx-large-6">
      <h3 class="subheader">
          <field value="::vm.doc.text" highlight="vm.highlight" maxlength="200" hkey="text"></field>
      </h3>
      <span ng-if="::vm.doc.user_s">
        - @<field value="::vm.doc.user_s" highlight="::vm.highlight" maxlength="200" hkey="user_s"></field>
      </span>
      <span ng-if="::vm.doc.channel_s">
        channel: <field value="::vm.doc.channel_s" highlight="::vm.highlight" maxlength="200"
               hkey="channel_s"></field>
      </span>
      <span ng-if="::vm.doc.timestamp_tdt">
        <a ng-href="{{::vm.doc.id}}" ng-click="vm.postSignal(vm.doc.__signals_doc_id__)" rel="noopener" target="_blank">
          <field value="::vm.doc.timestamp_tdtFormatted"></field> UTC
        </a>
      </span>
     </div>
  </div>
</article>
