<article class="grid-block document row">
  <div class="detail vertical grid-content">
    <h3 class="subheader">
      <a ng-href="{{vm.doc.id}}" ng-click="vm.postSignal(vm.doc.__signals_doc_id__)">
        {{vm.doc.name_s}}{{vm.doc.summary_s}}
      </a>
    </h3>
    <h4 class="subheader" ng-if="vm.doc.keywords"><field value="vm.doc.keywords" highlight="vm.highlight" maxlength="200" hkey="keywords"></field></h4>

    <div class="large-8 xlarge-7 xx-large-6">
      <p ng-if="vm.doc.description_s">
        <field value="vm.doc.description_s" highlight="vm.highlight" maxlength="200"
               hkey="description_s"></field>
      </p>
      <p>
        <field ng-if="vm.doc.jira_content_type_s" value="vm.doc.jira_content_type_s" highlight="vm.highlight" maxlength="200"
               hkey="jira_content_type_s"></field>
        <a ng-if="vm.doc.parent_s" ng-href="{{vm.doc.id}}" ng-click="vm.postSignal(vm.doc.__signals_doc_id__)">
          {{vm.doc.key_s}}
        </a>
        Last Modified: <field ng-if="vm.doc.lastModified_dt" value="vm.doc.lastModified_dtFormatted" maxlength="200"></field>
        <span ng-if="vm.doc.lead_s">Lead: <field value="vm.doc.lead_s" maxlength="200"></field></span>
      </p>
     </div>
  </div>
</article>
