<!--
  Using the HTML based document template

  It is possible to alter the results you return by
  editing this document.

  You can use angular brackets {{}} to output the results
  you want within the document. For example if you wanted to
  output a field named title in on the document, you can add it by
  adding the following somewhere in the markup:
  {{vm.doc.title[0]}}

  The document root is located at vm.doc
  the field name 'title' gets that field.
  [0] gets the first item in the array. Which is fine if you only
  expect one item in that result.

  To show multiple items from a single field, you could try adding something
  like the following with your own field name.
  <div>
    <h5>categories:</h5>
    <ul>
      <li ng-repeat="category in vm.doc.category">{{category}}</li>
    </ul>
  </div>
  This would create a title categories and then make a bulleted list of
  every category in that result.
 -->
<article class="grid-block document row">
  <div class="detail vertical grid-content">
    <h3 class="subheader">
      <a ng-href="{{::vm.doc.id}}" ng-click="vm.postSignal(vm.doc.__signals_doc_id__)" rel="noopener" target="_blank">
        {{::vm.doc.name_s}}{{::vm.doc.summary_s}}
      </a>
    </h3>
    <h4 class="subheader" ng-if="::vm.doc.keywords"><field value="::vm.doc.keywords" highlight="::vm.highlight" maxlength="200" hkey="keywords"></field></h4>

    <div class="large-8 xlarge-7 xx-large-6">
      <p ng-if="::vm.doc.description_s">
        <field value="::vm.doc.description_s" highlight="::vm.highlight" maxlength="200"
               hkey="description_s"></field>
      </p>
      <p>
        <field ng-if="::vm.doc.jira_content_type_s" value="::vm.doc.jira_content_type_s" highlight="vm.highlight" maxlength="200"
               hkey="jira_content_type_s"></field>
        <a ng-if="::vm.doc.parent_s" ng-href="{{::vm.doc.id}}" ng-click="vm.postSignal(vm.doc.__signals_doc_id__)" rel="noopener" target="_blank">
          {{::vm.doc.key_s}}
        </a>
        <span ng-if="::vm.doc.lastModified_dt">Last Modified: <field value="::vm.doc.lastModified_dtFormatted"></field></span>
        <span ng-if="::vm.doc.lead_s">Lead: <field value="::vm.doc.lead_s" maxlength="200"></field></span>
      </p>
     </div>
  </div>
</article>
