<!-- show head field linked with a url. -->
<h3 class="head-field" ng-if="dc.doc.login_s"><a href="#"
                                                 ng-click="dc.handleDoc(this, dc.doc.id, dc.doc.score, $index)">
  User:
  <field value="dc.doc.login_s" highlight="dc.highlight" maxlength="200" hkey="user"></field>
</a>
</h3>
<!-- show head field without a url. -->
<h3 class="head-field" ng-if="!dc.doc.login_s">
  <field value="dc.doc.id" maxlength="200"></field>
</h3>
<h6 class="subheader" ng-if="dc.doc.login_s">
  <field value="dc.doc.id" maxlength="200"></field>
</h6>
