<article class="grid-block document document-twitter row">
  <div class="detail vertical grid-content">
    <div class="twitter-tweet" data-lang="{{::vm.doc._templateDisplayFields.userLang}}">

      <blockquote class="quote" lang="{{::vm.doc._templateDisplayFields.userLang}}" dir="ltr">
        <field value="::vm.doc._templateDisplayFields.tweet" highlight="::vm.highlight[doc._templateDisplayFields.id]" hkey="{{::vm.getTemplateDisplayFieldName('tweet')}}[0]"></field>
      </blockquote>
      <div class="link">

        <a class="author" ng-href="http://twitter.com/{{::vm.doc._templateDisplayFields.userScreenName}}" ng-click="::vm.postSignal({params: {lw_url:'http://twitter.com/' + vm.doc._templateDisplayFields.userScreenName}})" rel="noopener" target="_blank">@<field value="vm.doc._templateDisplayFields.userScreenName" highlight="::vm.highlight" maxlength="200" hkey="{{::vm.getTemplateDisplayFieldName('userScreenName')}}"></field></a>
        <a class="timestamp" ng-href="https://twitter.com/{{::vm.doc._templateDisplayFields.userScreenName}}/status/{{::vm.doc._templateDisplayFields.id}}" ng-click="vm.postSignal({params: {lw_url:'https://twitter.com/' + vm.doc._templateDisplayFields.userScreenName + '/status/' + vm.doc._templateDisplayFields.id}})" rel="noopener" target="_blank"><field value="::vm.doc._templateDisplayFields.createdAt | date"></field> UTC</a>
      </div>
    </div>
  </div>
</article>
