<!--
  Using the HTML based document template

  It is possible to alter the results you return by
  editing this document.

  You can use angular brackets {{}} to output the results
  you want within the document. For example if you wanted to
  output a field named title in on the document, you can add it by
  adding the following somewhere in the markup:
  {{vm.doc.title[0]}}

  The document root is located at vm.doc
  the field name 'title' gets that field.
  [0] gets the first item in the array. Which is fine if you only
  expect one item in that result.

  To show multiple items from a single field, you could try adding something
  like the following with your own field name.
  <div>
    <h5>categories:</h5>
    <ul>
      <li ng-repeat="category in vm.doc.category">{{category}}</li>
    </ul>
  </div>
  This would create a title categories and then make a bulleted list of
  every category in that result.
 -->
<article class="grid-block document row">
  <div class="image small-4 medium-2 grid-content" ng-class="::{hide:!vm.doc.lw_image}">
    <div zf-interchange="">
      <img media="small" ng-src="{{::vm.doc.lw_image}}">
    </div>
  </div>
  <div class="detail vertical grid-content" ng-class="::{'small-8':vm.doc.lw_image, 'medium-10': vm.doc.lw_image, 'small-12':!vm.doc.lw_image}">
    <!-- {{vm.doc}} -->
      <!-- show head field linked with a url. -->
      <h3 class="head-field" ng-if="::vm.doc.lw_url">
        <a ng-href="{{::vm.doc.lw_url}}" ng-click="vm.postSignal({params: {lw_url: vm.doc.lw_url}})" rel="noopener" target="_blank">{{::vm.doc.lw_head}}</a>

      </h3>
      <!-- show head field without a url. -->
      <h3 class="head-field" ng-if="::(!vm.doc.lw_url)">{{::vm.doc.lw_head}}</h3>

      <h4 class="subheader">{{::vm.doc.lw_subhead}}</h4>
      <p class="large-8 xlarge-7 xx-large-6">
        {{::vm.doc.lw_description}}
      </p>
      <!-- Output of CONFIG BASED FIELD DISPLAY -->
      <p ng-repeat="(field, value) in vm.doc.fieldsToDisplay">

        <span><strong>{{::field}}:	&nbsp;  </strong></span>

        <field value="::value" highlight="::vm.highlight[doc.id]" maxlength="200" hkey="{{field}}"></field>

      </p>
  </div>
</article>
