<!--
  Using the HTML based document template

  It is possible to alter the results you return by
  editing this document.

  You can use angular brackets {{}} to output the results
  you want within the document. For example if you wanted to
  output a field named title in on the document, you can add it by
  adding the following somewhere in the markup:
  {{vm.doc.title[0]}}

  The document root is located at vm.doc
  the field name 'title' gets that field.
  [0] gets the first item in the array. Which is fine if you only
  expect one item in that result.

  To show multiple items from a single field, you could try adding something
  like the following with your own field name.
  <div>
    <h5>categories:</h5>
    <ul>
      <li ng-repeat="category in vm.doc.category">{{category}}</li>
    </ul>
  </div>
  This would create a title categories and then make a bulleted list of
  every category in that result.
 -->
<article class="grid-block document expanded row">
  <!-- Left Column: Image -->
  <div class="image small-2 large-1 grid-content">
    <!-- Image -->
    <div zf-interchange="">
      <img media="small" ng-src="{{::vm.doc.lw_image || 'assets/img/document_placeholder.png'}}">
    </div>
  </div>

  <!-- Right Column: Content -->
  <div class="detail vertical grid-content small-10 large-11">

    <!-- Head Field -->
    <h4 class="head-field">
      <!-- If URL -->
      <a ng-if="::vm.doc.lw_url" ng-href="{{::vm.doc.lw_url}}" ng-click="vm.postSignal({params: {lw_url: vm.doc.lw_url}})" rel="noopener" target="_blank">{{::vm.doc.lw_head}}</a>
      <!-- If no URL -->
      <span ng-if="::(!vm.doc.lw_url)">{{::vm.doc.lw_head}}</span>
      <!-- If Source Verified -->
      <small title="Source Verified" class="source-verified" ng-if="::vm.doc.source_verified_b"><span class="architizer-glyphs">+</span><span class="pro">PRO</span></small>
    </h4>

    <h6 class="subheader">
      <a href="//{{::vm.doc.lw_subhead}}">{{::vm.doc.lw_subhead}}</a>
    </h6>

    <!-- Responses / Projects Count -->
    <p class="subhead"><strong>{{::vm.doc.response_cound_d || 0 }}</strong> Responses <strong>{{::vm.doc.connected_projects_count_d || 0}}</strong> Projects</p>
    <!-- Description -->
    <p class="description">{{::vm.doc.lw_description}}</p>
    <p><strong ng-if="::vm.doc.expert_range_s">{{::vm.doc.expert_range_s}}</strong><span ng-if="::vm.doc.expert_product_keywords_ss"> - {{::vm.doc.expert_product_keywords_ss}}</span></p>
  </div>

  <hr>

</article>

